{% extends "master_mobile.html" %}

{% block content %}
<div class = "center">
	Search		
	<form method="GET" action="{% url mobile-search-results  %}">
		<div id="background">
       		<input type="text" name="q" id="quicksearch"/>
       		<input type="image" src="{% url static 'images/go.png' %}" id="search-go" />
      		<br>
      		<!--<input type="checkbox" name="digitalnz" value="true" id="search-local"/>Digital NZ<br>
      		<input type="checkbox" name="flickr" value="true" id="search-local"/>Flickr<br>
      		<input type="checkbox" name="gallica" value="true" id="search-local"/>Gallica<br>
      		<input type="checkbox" name="nga" value="true" id="search-local"/>National Gallery of Art<br>-->
       	</div>
    </form>
	<br>
	<a href = "{% url mobile-presentation-browse %}">
		<div id = "button">Presentations</div>
	</a>
</div>

{% endblock content %}
