{% extends "master_mobile.html" %}

{% block content %}
<div class = "center">
	Search		
	<form method="GET" action="{% url solr-search %}">
		<div id="background">
       		<input type="text" name="kw" id="quicksearch"/>
       		<input type="image" src="{% url static 'images/go.png' %}" id="search-go" />
      		<br>
      		<input type="radio" name="search" value="local" id="search-local"/>Local<br>
       		<input type="radio" name="search" value="remote" id="search-remote"/>Remote<br>
       	</div>
    </form>
	<br>
	<a href = "http://localhost/explore">
		<div id = "button">
			<div id="button-text">Presentations
			<img src="{% url static 'images/bubblearrow-right.png' %}" />
			</div>
		</div>
	</a>
	</div>

{% endblock %}
