{% extends "master_mobile.html" %}

{% block content %}
<div class = "center">
	Search		
	<form method="GET" action="{% url mobile-search-redirect  %}">
		<div id="background">
       		<input type="text" name="q" id="quicksearch"/>
       		<input type="image" src="{% url static 'images/go.png' %}" id="search-go" />
      		<br>
      		<div id="search-check-boxes">
      		{% for s in searchers %}
      		<label><input type="checkbox" value="{{s.identifier}}" name="sid[]" > {{ s.name }}</input></label><br>
      		<!-- <a href="{% url mobile-union-search sid=s.identifier %}?q={{ q.value }}">Search {{ s.name }}</a>
      		<br> -->
      		{% endfor %}
      		</div>
       	</div>
    </form>
	<br>
	<a href = "{% url mobile-presentation-browse %}">
		<div id = "button">Presentations</div>
	</a>
</div>

{% endblock content %}
