{% extends "master_mobile.html" %}
{% load ui %}
{% load humanize %}
{% load pagination_tags %}
{% load viewers %}


{% block javascript %}
{{ block.super }}
<script type="text/javascript">

  $(document).ready(function() {
    $("#delete").click(function() {
      return confirm("Are you sure you want to delete the selected presentations?");
    })
  });
 
</script>
{% endblock %}

{% block content %}

{% autopaginate presentations 10 %}

{% if presentations %}

<table summary="List of Presentations" class="itemactions wide-table" cellspacing="0"><!-- need cellspacing for IE7 -->
    <tr>
        <th>Title</th>
        {% if manage %}
        {% if perms.presentation.publish_presentations %}
        <th>Hidden</th>
        {% endif %}
        <th>Created</th>
        <th>Modified</th>
        {% endif %}
        <th>Presenter</th>
        <th>Tags</th>
        <th>Items</th>
        <th></th>
    </tr>
{% for presentation in presentations %}
    {% owned_tags_for_object presentation for request.user as ptags %}
    <tr class = "itemactions-row">
        <td>{{ presentation.title }}</td>
        {% if manage %}
        {% if perms.presentation.publish_presentations %}
        <td>{{ presentation.hidden|yesno:"hidden,-" }}</td>
        {% endif %}
        <td>{{ presentation.created|naturalday }}</td>
        <td>{{ presentation.modified|naturalday }}</td>
        {% endif %}
        <td>{% if presentation.owner == request.user %}-{% else %}{% if presentation.owner.last_name %}{{ presentation.owner.last_name }}, {{ presentation.owner.first_name }}{% else %}{{ presentation.owner.username }}{% endif %}{% endif %}</td>
        
        <!-- tags -->
        <td>{% for ptag in ptags %}
                {% tag ptag presentation 0 "True" %}
            {% endfor %}
            
            {% if not ptags %}&nbsp;{% endif %}
        </td>
        
        <!-- number of presentation items -->
        <td>
          {{ presentation.visible_item_count }}

		  <!-- padlock image if presentation is private/public -->	
          {% if presentation.password %}
                {% if presentation.unlocked %}
                <img src="{% url static "images/unlocked.png" %}" />
                {% else %}
                <img src="{% url static "images/locked.png" %}" />
                {% endif %}
            {% endif %}
        </td>
        
        <!-- link to viewer -->
        <td class="item-actions">
            {% if not presentation.password or presentation.unlocked or presentation.owner == request.user %}
            <a href="{% url viewers-viewer-shell viewer='htmlpresentation' objid=presentation.id %}?next={{ request.get_full_path|urlencode }}">HTML</a>
            {% endif %}
        </td>
    </tr>
{% endfor %}
</table>

{% paginate %}

{% else %}
No presentations available.
{% endif %}


{% endblock %}
