{% extends "master.html" %}

{% block stylesheets %}
{{ block.super }}

<style type="text/css">
#megazine { margin: 0 auto 0 auto; outline: none; position: relative; }
</style>

{% endblock %}


{% block javascript %}
{{ block.super }}

<script type="text/javascript" src="{% url static 'megazine/swfobject.js' %}"></script>
<script type="text/javascript" src="{% url static 'megazine/swfaddress.js' %}"></script>
<script type="text/javascript" src="{% url static 'megazine/megazine.js' %}"></script>
<script type="text/javascript">
	//<![CDATA[
	var flashvars = {
		/* This is the ABSOLUTE base that to use for all path resolving. This has an effect on ALL paths (including GUI, sounds etc). */
		//basePath: "http://www.example.com/megazine/",

		/* Used to pass the name of the xml file to use. Path is RELATIVE to basePath, or, if not set, to the megazine.swf file. */
		xmlFile: "{% url viewers-megazine-content presentation.id, presentation.name %}"

		/* When set to true, log messages are printed to the JavaScript console (using the console.log() function) */
		//logToJsConsole: "true"
	};
	var params = {
		/* Determines whether to enable transparency (show HTML background). Not recommended (slow). Use book/background instead. */
		//wmode: "transparent",
		menu: "false",
		/* Necessary for proper scaling of the content. */
		scale: "noScale",
		/* Necessary for fullscreen mode. */
		allowFullscreen: "true",
		/* Necessary for SWFAddress and other JavaScript interaction. */
		allowScriptAccess: "always",
		/* This is the background color used for the Flash element. */
		bgcolor: "#FFFFFF"
	};
	var attributes = {
		/* This must be the same as the ID of the HTML element that will contain the Flash element. */
		id: "megazine"
	};
	/* Actually load the Flash. */
	swfobject.embedSWF("{% url static 'megazine/preloader.swf' %}", "megazine", "100%", "1000", "9.0.115", "{% url static 'js/expressInstall.swf' %}", flashvars, params, attributes);
	//]]>
</script>

{% endblock %}


{% block sidebar %}
{{ block.super }}

{% if next %}
<div class="facet active-facet" id="megazine_back">
    <div class="facet-header">Return</div>
    <div class="facet-body">
        <a href="{{ next }}">Return to previous page</a>
    </div>
</div>
{% endif %}

{% endblock %}


{% block content %}

<h1>{{ presentation.title }}</h1>

<div style="clear: both;">
	<div id="megazine">
		<h2>MegaZine3 requires FlashPlayer 9</h2>
		<p><a href="http://get.adobe.com/flashplayer/"><img src="http://www.adobe.com/images/shared/download_buttons/get_adobe_flash_player.png" alt="Get Adobe Flash Player"/></a></p>
		<p>Please try the above link first. If you still encounter problems after installing the Flash Player, try this one:</p>
		<p><a href="http://get.adobe.com/shockwave/"><img src="http://www.adobe.com/images/shared/download_buttons/get_adobe_shockwave_player.png" alt="Get Adobe Shockwave Player"/></a></p>
		<p><a href="http://www.megazine3.de/">Powered by MegaZine3</a></p>
	</div>
</div>

{% endblock %}
