{% extends request.master_template|default:"master.html" %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript" src="{% url static 'flowplayer/flowplayer-3.2.4.min.js' %}"></script>

<script type="text/javascript">
$(document).ready(function() {

    $("#play_button").hide();
    $("#audio_list").change(function() {
        $("#audio_form").submit();
    });

    var url = "{{ selectedmedia.get_delivery_url }}";
    var clip;
    if (url.match(/^rtmp:/)) {
        url = url.split("/mp3:");
        // clip .mp3 extension if it exists
        if (/\.mp3$/.test(url[1])) url[1] = url[1].substring(url[1].length - 4);
        clip = {
            clip: {
                url: "mp3:" + url[1],
                provider: 'influxis'
            },
            plugins: {
                influxis: {
                    url: "{% url static 'flowplayer/flowplayer.rtmp-3.2.3.swf' %}",
                    netConnectionUrl: url[0],
                    durationFunc: 'getStreamLength'
                },
                controls: {
                    fullscreen: false,
                    height: 30,
                    autoHide: false
                }
            }
        };
    } else {
        clip = {
            clip: {
                url: url,
                type: 'audio'
            },
            plugins: {
                audio: {
                	url: "{% url static 'flowplayer/flowplayer.audio-3.2.1.swf' %}"
                },
                controls: {
                    fullscreen: false,
                    height: 30,
                    autoHide: false
                }
            }
        };
    }
    flowplayer("player", "{% url static 'flowplayer/flowplayer-3.2.4.swf' %}", clip);
});
</script>
{% endblock %}


{% block sidebar %}
{{ block.super }}
<div class="facet active-facet" id="data_record_thumbnail">
    <div class="facet-header">Record</div>
    <div class="facet-body">
        <a href="{{ record.get_absolute_url }}">Go to record</a><br />
        {% if next %}<a href="{{ next }}">Return to previous page</a>{% endif %}
    </div>
</div>
{% endblock %}


{% block content %}

<h1><a href="{{ record.get_absolute_url }}">{{ record.title }}</a></h1>

{% if media.1 %}
Multiple audio files available:
<form method="get" action=".?next={{ next|urlencode }}" id="audio_form">
    <select name="audio" id="audio_list">
        {% for m in media %}
        <option value="{{ forloop.counter0 }}"{% ifequal selectedmedia m %} selected="selected"{% endifequal %}>
            Audio {{ forloop.counter }}:
            {% if m.bitrate %}at {{ m.bitrate }} kbps{% endif %}
            in {{ m.storage.title }}
        </option>
        {% endfor %}
    </select>
    <input type="submit" value="Play" id="play_button" />
</form>
{% endif %}

<a id="player"
style="margin: 40px auto; display:block; width:520px; height:30px"></a>

{% endblock %}
