{% extends "master.html" %}
{% load help %}
{% load access_control %}
{% load ui %}

{% block help %}
    {% pagehelp 'access_view' %}
{% endblock %}

{% block sidebar %}
{% var as related_pages %}
{"pages": [
{% include "ui_related_pages_for_object.html" %}
]}
{% endvar %}
{{ block.super }}
{% endblock %}

{% block content %}

<h1>Modify permissions for {% if object.get_absolute_url %}<a href="{{ object.get_absolute_url }}">{{ object.title }}</a>{% else %}{{ object.title }}{% endif %}</h1>


{% endblock %}