{% extends "master.html" %}
{% load ui %}

{% block stylesheets %}
{{ block.super }}
    <style type="text/css">
        .marker {
            font-style: italic;
            color: green;
        }
        .play {
            background-color: grey;
            color: white !important;
            font-weight: bold;
            margin-right: 10px;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            cursor: pointer;
            padding: 0 3px 0 5px;
            font-family: serif;
        }
{% if edit %}
        #transcript div {
            padding-left: 60px;
        }

        #transcript input {
            margin: 0px 5px -5px -60px;
            position: relative;
            top: -2px;
            width: 55px;
            font-size: 60%;
        }

        #transcript span {
            color: grey;
        }
{% endif %}
    </style>
{% endblock %}


{% block javascript %}
{{ block.super }}

    <script type="text/javascript" src="{% url static 'soundmanager/script/soundmanager2.js' %}"></script>

    <script type="text/javascript">

        var mySound;
        var lasttime;
        var lastscroll;
        var scrolltargets;

        soundManager.url = '{% url static 'soundmanager/swf' %}';
        soundManager.waitForWindowLoad = true;
        soundManager.allowPolling = true;
        soundManager.debugMode = false;
        soundManager.useHighPerformance = false;
        soundManager.useFastPolling = false;
        soundManager.onload = function() {
            mySound = soundManager.createSound({
            id: 'aSound',
            url: '{{ mp3url }}',
            whileplaying: function() {
                function zero(s) { return ("0" + s).substring(("0" + s).length - 2); }
                var pos = parseInt(mySound.position / 1000);
                var hrs = parseInt(pos / 3600);
                var min = parseInt((pos % 3600) / 60);
                var sec = pos % 60;
                var time = zero(hrs) + ":" + zero(min) + ":" + zero(sec);
                if (time != lasttime) {
                    lasttime = time;
                    $("#timer").text(time);
                    if (!scrolltargets) scrolltargets = $("#transcript .play");
                    var target;
                    var targetid = "play-" + time.replace(/:/g, "-");
                    for (var i = 0; i < scrolltargets.length; i++) {
                        if (scrolltargets[i].id <= targetid) target = scrolltargets[i];
                        else break;
                    }
                    if (target && (target != lastscroll)) {
                        $("#transcript").scrollTo(target, 1000, {easing: 'swing'});
                        lastscroll = target;
                    }
                }
            }
          });
        }

        $(document).ready(function() {
            $("#playpause").click(function() {
                mySound.togglePause();
                $("#playpause").val(mySound.paused ? "Play" : "Pause");
            });

            var markers = Array(
                {% for par,time in markers.iteritems %}[{{ par }},"{{ time }}"]{% if not forloop.last %},{% endif %}{% endfor %}
            );
            var div = $("#transcript div");
            for (var m in markers){
                div.eq(markers[m][0]).prepend($("<span>").addClass("play").
                                            attr("id", "play-" + markers[m][1].replace(/:/g, "-")).html("&#9658;")).
                                            attr("title", "Play from " + markers[m][1]);
            };

            $(".play").click(function() {
                var t = $(this).attr("id").substring(5).split("-");
                time = parseInt(t[0], 10) * 3600 + parseInt(t[1], 10) * 60 + parseInt(t[2], 10);
                mySound.play();
                setTimeout(function() { mySound.setPosition(time * 1000); }, 100)
                $("#playpause").val("Pause");
            });

    {% if edit %}
            var note = $("<input type='button' value='Marker'>");
            $("#transcript div").hover(function() {
                $(this).css("background-color", "#FFFFAA");
                note.prependTo(this);
                var div = this;
                note.click(function() {
                    var timer = $("#timer").text();
                    if (timer) {
                        $(div).children(".marker").remove();
                        note.remove();
                        $("#transcript").scrollTo(div, 1000, {easing: 'swing'});
                        ajaxManager.add({
                            type: 'POST',
                            url: '{% url audiotextsync-setmarker record.id, record.name %}',
                            data: {
                                index: $("#transcript div").index(div),
                                time: timer
                                },
                            dataType: 'json',
                            success: function(r) {
                                $("#message").text(r.result + ": " + r.message);
                                setTimeout(function() { $("#message").text(""); }, 5000);
                                $("<span>").addClass("marker").text("[" + timer + "]").prependTo(div);
                            }
                        });
                    }
                });
            }, function() {
                $(this).css("background-color", "");
                note.remove();
            });
    {% endif %}
        });
    </script>


{% endblock %}


{% block sidebar %}
{{ block.super }}

{% if next %}
<div class="facet active-facet" id="audiotextsync_back">
    <div class="facet-header">Record</div>
    <div class="facet-body">
        <a href="{{ next }}">Return to record</a>
    </div>
</div>
{% endif %}

{% endblock %}


{% block content %}

<h1>{{ record.title }}</h1>

<div>
    <input type="button" id="playpause" value="Play" />
    <span id="timer"></span>
    <span id="message" style="color: red;"></span>
    <br /><br />
</div>

<div id="transcript" style="height: 400px; overflow: auto; border: 1px grey solid; padding: 5px;">
{% for line in transcript %}
<div>{% if edit %}<span>{{ forloop.counter }} </span>{% endif %}{{ line|linebreaksbr }}</div>
{% endfor %}
</div>


{% endblock %}
