{% extends "master.html" %}
{% load pagination_tags %}
{% load humanize %}
{% load ui %}

{% block sidebar %}
{% var as related_pages %}
{"pages": [
    {"url": "{% url ui-management %}", "title": "Management"}
]}
{% endvar %}

{{ block.super }}

{% endblock %}


{% block javascript %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(function() {
        $(".job-args").each(function() {
            var a = $(this).text();
            if (a.length > 30)
                $(this).qtip({
                    content: a,
                    position: {
                        corner: {
                            target: 'rightMiddle',
                            tooltip: 'leftTop'
                        },
                        adjust: {
                            screen: true,
                        }
                    },
                    style: {
                        name: 'cream',
                        tip: true,
                        width: 500
                    }
                }).text(a.substring(0, 30) + '...');
        });
        checkbox = $('<input type="checkbox">').click(function() {
            var c = this.checked;
            $("input[name=r]").each(function() { this.checked = c; });
        });
        $("#remove-col").append(checkbox);
    });
</script>
{% endblock %}


{% block content %}

{% autopaginate jobs 25 %}

<h1>Jobs</h1>

<form action="{{ request.get_full_path }}" method="POST">{% csrf_token %}
    <input type="submit" name="testjob" value="Run Test Job" />
</form>

{% paginate %}

{% if jobs %}

<a href="{{ request.get_full_path }}">Refresh Job List</a>

<form action="{{ request.get_full_path }}" method="POST">{% csrf_token %}
<table class="wide-table">
<tr>
{% if request.user.is_superuser %}
    <th>ID</th>
    <th>Owner</th>
{% endif %}
    <th>Function</th>
{% if request.user.is_superuser %}
    <th>Arguments</th>
{% endif %}
    <th>Status</th>
    <th>Created</th>
    <th>Last updated</th>
    <th>Completed</th>
    <th>Result</th>
    <th id="remove-col" style="text-align: center;"></th>
</tr>
{% for job in jobs %}
<tr class="{% cycle '' 'altrow' %}{% ifequal highlight job.id %} highlight-row{% endifequal %}">
{% if request.user.is_superuser %}
    <td>{{ job.id }}</td>
    <td>{{ job.owner.username }}</td>
{% endif %}
    <td>{{ job.func }}</td>
{% if request.user.is_superuser %}
    <td class="job-args">{{ job.arg }}</td>
{% endif %}
    <td>{{ job.status }}</td>
    <td>{{ job.created_time|naturalday }} {{ job.created_time|time }}</td>
    <td>{{ job.status_time|naturalday }} {{ job.status_time|time }}<br />({{ job.status_time|timesince }})</td>
    <td>{% if job.completed %}
            Completed
        {% else %}
            {% if job.stalled %}
                Stalled
            {% else %}
                {% if job.status_time %}
                    In Progress
                {% else %}
                    Not started
                {% endif %}
            {% endif %}
            {% if request.user.is_superuser %}
                {% if job.stalled or not job.status_time %}
                    <br /><input type="submit" name="run-{{ job.id }}" value="Restart" />
                {% endif %}
            {% endif %}
        {% endif %}</td>
    <td>{{ job.result }}</td>
    <td style="text-align: center;">{% if job.completed or request.user.is_superuser %}<input type="checkbox" value="{{ job.id }}" name="r" />{% endif %}</td>
</tr>
{% endfor %}
<tr>
    <td colspan="{% if request.user.is_superuser %}9{% else %}6{% endif %}"></td>
    <td><input type="submit" name="remove" value="Remove" /></td>
</tr>
</table>
</form>
{% else %}

You do not currently have any past or present jobs.

{% endif %}

{% endblock %}
