{% extends "master.html" %}
{% load help %}
{% load comments %}
{% load humanize %}

{% block content %}

<div id="comments">
    {% get_comment_list for flatpages.flatpage 1 as comments %}
    {% for comment in comments %}
        {{ comment.comment|linebreaks }}
        <div class="byline">Posted {{ comment.submit_date|naturalday }} by {{ comment.user }}.</div>
    {% endfor %}
</div>

<h1>flickr Sets</h1>

<script type="text/javascript">
function jsonFlickrApi(rsp){

	if (rsp.stat != "ok"){
		// something broke!
		return;
	}
	if(rsp.photosets.photoset.length > 0) {
		var ul = document.createElement("ul");
		for (var i=0; i<rsp.photosets.photoset.length; i++){
			var photoset = rsp.photosets.photoset[i];
			var li = document.createElement("li");
			var backlink = document.createElement("a");
			backlink.setAttribute("href", "{% url flickr-set %}"+photoset.id);
			backlink.appendChild(document.createTextNode(photoset.title._content));
			li.appendChild(backlink);
			ul.appendChild(li);
		}
		document.body.appendChild(ul);
	} else {
		document.write("No public sets found.  Verify the set permissions are public.");
	}
}
{{results|safe}} ;
</script>

{% endblock %}