{% extends "master.html" %}
{% load help %}
{% load comments %}
{% load humanize %}

{% block content %}

<div id="comments">
    {% get_comment_list for flatpages.flatpage 1 as comments %}
    {% for comment in comments %}
        {{ comment.comment|linebreaks }}
        <div class="byline">Posted {{ comment.submit_date|naturalday }} by {{ comment.user }}.</div>
    {% endfor %}
</div>

<h1>MDID flickr Portal</h1>	

<div id="progressbar-dialog">
	<p>Please wait while image(s)<br/>are exported to flickr.</p>
	<img src="/static/images/progress-bar.gif" width="230" height="25" />
</div>

<div>
	<p>Prior to exporting images to Flickr the first time you will be required to link the MDID application 
	to your account.	
	<p>Step 1: Proceed to the <a href="{{ auth_url }}" onclick="$('#progressbar-dialog').dialog('open')">Flickr Authentication</a> page.
	(If you have already linked the MDID application to your account you are not required to go through Steps 2 and 3)</p>
	<p>Step 2: Click on the "Next" button on the right under the text 
	"If you arrived at this page because you specifically asked MDID to connect to your Flickr account, click here:".</p>
	<p><img src="/static/images/flickr-screenshot1.png" width="754" height="269" /></p>
	<p>Step 3: Click on the "OK, I'll Authorize It" button:</p></p>
	<p><img src="/static/images/flickr-screenshot2.png" width="754" height="340" /></p>
    <p>Once you have completed these steps the image export will resume and you will be presented with a confirmation page.</p>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("#progressbar-dialog").dialog({ title: 'Please Wait...', autoOpen: false, draggable: false, modal: true, resizable: false });
	});
</script>

{% endblock %}