{% extends "master.html" %}
{% load help %}
{% load comments %}
{% load humanize %}

{% block content %}

<div id="comments">
    {% get_comment_list for flatpages.flatpage 1 as comments %}
    {% for comment in comments %}
        {{ comment.comment|linebreaks }}
        <div class="byline">Posted {{ comment.submit_date|naturalday }} by {{ comment.user }}.</div>
    {% endfor %}
</div>

<h1>flickr People</h1>

<div>
	<form action="{% url flickr-people %}" method="POST">
		{{ form.as_p }}
		<input type="submit" value="Submit" />
	</form>
</div>
<hr>

{% if nsid %}
	<div>
		Found User: <a href="{% url flickr-photosets %}{{ nsid }}/">Browse the sets</a>
	</div>
{% else %}
	<div>
		No Users Found.
	</div>
{% endif %}

{% endblock %}