{% extends "master.html" %}
{% load help %}
{% load comments %}
{% load humanize %}

{% block content %}

<div id="comments">
    {% get_comment_list for flatpages.flatpage 1 as comments %}
    {% for comment in comments %}
        {{ comment.comment|linebreaks }}
        <div class="byline">Posted {{ comment.submit_date|naturalday }} by {{ comment.user }}.</div>
    {% endfor %}
</div>

<h1>flickr Sets</h1>

<script type="text/javascript">
function jsonFlickrApi(rsp){

	if (rsp.stat != "ok"){
		// something broke!
		return;
	}

	for (var i=0; i<rsp.photoset.photo.length; i++){
		var photo = rsp.photoset.photo[i];
		var link = document.createElement("a");
		link.setAttribute("href", photo.url_o);
		var img = document.createElement("img");
		img.setAttribute("src", photo.url_t);
		link.appendChild(img);
		document.body.appendChild(link);
	}
}
{{results|safe}} ;
</script>

<form method="POST" action="{% url flickr-import-set %}">
<input type="hidden" name="setid" value="{{ setid }}"/>
<input type="submit" value="Import Collection"/>
</form>
{% endblock %}