{% extends "master.html" %}
{% load help %}
{% load comments %}
{% load humanize %}

{% block content %}

<div id="comments">
    {% get_comment_list for flatpages.flatpage 1 as comments %}
    {% for comment in comments %}
        {{ comment.comment|linebreaks }}
        <div class="byline">Posted {{ comment.submit_date|naturalday }} by {{ comment.user }}.</div>
    {% endfor %}
</div>

<h1>MDID flickr Portal</h1>	

{{response}}
<div class="flickr">
	<form action="{% url flickr-export-photo-frob %}" method="POST" name="upload_form">
		<ul>
			<li><input type="submit" value="Export to Flickr" style="width:120px;" /></li>
			{% for photo in selected %}
				<fieldset>
				<legend>{{ photo.title}}</legend>
				{% if photo.permission %}
					<ul>
						<input type="hidden" name="images[filename]" value="{{ photo.media_filepath }}" />
						<input type="hidden" name="images[id]" value="{{ photo.id }}" />
						<li>
							<label>Owner:</label>
							{{ photo.owner }}
						</li>
						<li>
							<label for="title_{{photo.id}}">Title:</label>
							<input type="text_field" id="title_{{photo.id}}" name="images[title]" value="{{ photo.title}}"/>
						</li>
						<li>
							<label style="vertical-align:top">Description:</label>
							<textarea name="images[description]"></textarea>
						</li>
						<!--li>
							<label>Tags (space-delimited list of tags, '''tag1 tag2 "long tag"'''):</label>
							<input type="text_field" name="images[tags]" value=""/>
						</li-->
						<li>
							<label>Is Public:</label>
							<input class="check-box" type="checkbox" id="is_public_{{photo.id}}" checked="checked" onclick="updateHidden(this, upload_form.is_public_{{photo.id}}_hidden)"/>
							<input type="hidden" id="is_public_{{photo.id}}_hidden" name="images[is_public]" value=1/>
						</li>
						<li>
							<label>Is Family:</label>
							<input class="check-box" type="checkbox" id="is_family_{{photo.id}}" onclick="updateHidden(this, upload_form.is_family_{{photo.id}}_hidden)" />
							<input type="hidden" id="is_family_{{photo.id}}_hidden" name="images[is_family]" value=0/>
						</li>
						<li>
							<label>Is Friend:</label>
							<input class="check-box" type="checkbox" id="is_friend_{{photo.id}}" onclick="updateHidden(this, upload_form.is_friend_{{photo.id}}_hidden)" />
							<input type="hidden" id="is_friend_{{photo.id}}_hidden" name="images[is_friend]" value=0/>
						</li>
					</ul>
				{% else %}
					<div style="color:red">User does not have sufficient permissions to upload this image.</div>
				{% endif %}
				</fieldset>
			{% endfor %}

			<li><input type="submit" value="Export to Flickr" style="width:120px;" /></li>
		</ul>
	</form>
</div>


<script>
function updateHidden(checkbox_obj, hiddenfield_obj) {
	if(checkbox_obj.checked==true) {
		hiddenfield_obj.value = 1 
	}else {
		hiddenfield_obj.value = 0
	}
}
</script>


{% endblock %}