*.pyc
*.pyo
rooibos/settings_local.py
solr/logs/*.log
solr/solr/data/
apps/
scratch/
rooibos/*/migrations/
solr/wrapper.*
solr/wrapper-license.conf
config.xml
CACHE
rooibos/static/flowplayer/flowplayer.commercial*
Thumbs.db
rooibos/static/cache/*
2*M.mysql
