#header {
    height: 1.6em;
    background-color: #2D678E;
    color: white;
    padding: 4px;
    margin-bottom: 5px;
}

#header h1 {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    display: inline;
}

#header a {
    color: white;
    text-decoration: none;
}

#footer {
    margin-top: 10px;
    padding: 4px;
    border-top: solid thin lightgrey;
    font-size: smaller;
    font-family: sans-serif;
    clear: both;
}

.horizontal-block {
    border: thin grey solid;
    background-color: lightgrey;
    padding: 3px;
}

.resultlist {
    width: 80%;    
}

.record {
    float: left;
    border: thin lightgrey solid;
    width: 150px;
    height: 150px;
    padding: 3px;
    margin: 5px;
    overflow: hidden;
    font-size: smaller;
}


.facets {
    float: right;
    width: 20%;
}

.facet {
    border: thin lightgrey solid;
    margin: 5px;
}

.facet-header {
    font-weight: bold;
    background-color: lightgrey;
    padding: 2px;
}

.facet-body {
    font-size: smaller;
    padding: 2px;
}

.facet-body a {
    text-decoration: none;
}


#sessionstatus {
    float: right;
    border: thin #BBBB00 solid;
    background-color: #CCCC00;
}

.alternate-row {
    background-color: #F7F7F7;    
}


div.fieldvalue-edit {
    border-top: thin solid grey;
    padding: 3px;
    margin: 2px;
    clear: both;
    overflow: auto;
}

div.fieldvalue-edit textarea {
    vertical-align: top;
    width: 300px;
    height: 60px;
}

div.fieldvalue-edit div.column {
    float: left;
    margin-right: 5px;
}
div.fieldvalue-edit div.column label {
    width: 70px;
    text-align: right;
    margin-right: 5px;
    display: block;
    float: left;
}

div.fieldvalue-edit div.column span.row {
    display: block;
    float: left;
    clear: left;
}

div.fieldvalue-edit optgroup {
    font-style: normal;
    font-weight: bold;
    margin-top: 5px;
    border-top: 1px solid black;
}

div.fieldvalue-edit span.fs-order input {
    width: 30px;
}