#header {
    height: 1.6em;
    background-color: #2D678E;
    color: white;
    padding: 4px;
    margin-bottom: 5px;
    border-bottom: 2px solid black;
}

#header h1 {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    display: block;
    float: left;
    margin: 0.05em;
}

#header a {
    color: white;
    text-decoration: none;
}

#menu {
    display: block;
    float: right;
    margin: 0.1em;
}

#menu li {
    display: block;
    float: left;
    position: relative;
    padding: 0 0.4em 0 0.4em;
}

#menu li + li {
    border-left: 2px solid white;
}

#menu .dropdown a {
    display: block;
    white-space: nowrap;
}

#menu a {
    padding: 0.3em;
    border: 1px solid #2D678E;
}

#menu a:hover {
    border: 1px dotted white;
}

#menu .dropdown {
    overflow: hidden;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    padding-top: 1.8em;
    height: 0px;
    min-width: 120px;
}

#menu .dropdown:hover {
    overflow: visible;
}

#menu .dropdown div.menu {
    background-color: #2D678E;
    padding: 0.4em;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

#selected-records {
    width: 170px;
    height: 400px;
    overflow: auto;
}

#selected-records div {
    margin-bottom: 5px;
}

#selected-records a {
    display: inline !important;
    border: none !important;
}

#footer {
    margin-top: 10px;
    padding: 4px;
    border-top: solid thin lightgrey;
    font-size: smaller;
    font-family: sans-serif;
    clear: both;
}

.horizontal-block {
    border: thin grey solid;
    background-color: lightgrey;
    padding: 3px;
}

.resultlist {
    width: 80%;    
}

.record {
    float: left;
    border: thin lightgrey solid;
    -moz-border-radius: 5px;
    width: 150px;
    height: 150px;
    padding: 3px;
    margin: 5px;
    overflow: hidden;
    font-size: smaller;
}

.record img {
    -moz-border-radius-topleft: 3px;
    border: thin solid black;
}

.record_list {
    border-bottom: thin lightgrey solid;
    padding: 2px;
    white-space: nowrap;
    overflow: hidden;
}

.record_list img {
    border: hidden;
    vertical-align: baseline;
}

.facets {
    float: right;
    width: 20%;
}

.facet {
    border: thin lightgrey solid;
    margin: 5px;
    -moz-border-radius: 5px;
}

.facet-header {
    font-weight: bold;
    background-color: lightgrey;
    padding: 2px;
}

.facet-body {
    font-size: smaller;
    padding: 2px;
}

.facet-body a {
    text-decoration: none;
}


#sessionstatus {
    float: right;
    border: thin #BBBB00 solid;
    background-color: #CCCC00;
}

.alternate-row {
    background-color: #F7F7F7;    
}

div.fieldvalue-edit:first-child {
    border-top: thin solid grey;
}

div.fieldvalue-edit {
    border-bottom: thin solid grey;
    padding: 4px;
    margin: 0px;
    clear: both;
    overflow: auto;
}

div.fieldvalue-edit textarea {
    vertical-align: top;
    width: 300px;
    height: 60px;
}

div.fieldvalue-edit div.column {
    float: left;
    margin-right: 5px;
}
div.fieldvalue-edit div.column label {
    width: 70px;
    text-align: right;
    margin-right: 5px;
    display: block;
    float: left;
}

div.fieldvalue-edit div.column span.row {
    display: block;
    float: left;
    clear: left;
}

div.fieldvalue-edit optgroup {
    font-style: normal;
    font-weight: bold;
    margin-top: 5px;
    border-top: 1px solid black;
}

div.fieldvalue-edit span.fs-order input {
    width: 30px;
}

#comments {
    float: right;
    width: 300px;
    -moz-border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    background-color: #f9f9f9;
}

#comments p {
    margin: 0.2em 0 0.2em 0;
}

#comments p:first-line {
    font-size: larger;
    font-weight: bold;
}

#comments .byline {
    font-size: small;
    font-style: italic;
}

.icon {
    display: -moz-inline-box; /* Firefox 2 */
    display: inline-block;
    vertical-align: bottom;
    background-image: url('/static/images/icons.png');
    width: 20px;
    height: 20px;
    text-decoration: none;
}

.icon * {
    visibility: hidden;
}

.help-icon {
    background-position: -40px 0px;
}

.or-icon {
    background-position: 0px 0px;
}

.remove-icon {
    background-position: -20px 0px;
}

#stats { background-color: #ddd; font-size: 65%; padding: 5px;
        z-index: 1000; position: absolute; right: 5px; top: 50px;
        -moz-opacity: .7; opacity: .7;}

form.vertical label {
    display: block;
    float: left;
    width: 120px;
    text-align: right;
    clear: left;
    margin: 3px 3px;
}

form.vertical input, form.vertical select {
    display: block;
    float: left;
    margin: 3px;
}

form.vertical div.row {
    clear: left;
    margin: 3px 3px 3px 124px;
}

form.vertical ul.errorlist li {
    display: block;
    float: left;
    color: red;
    list-style: none;
    margin: 3px;
}

.tagcloud a {
    text-decoration: none;
}