{% ifequal viewmode|default:"thumb" "thumb" %}
    <div class="record">
        <a href="{{ photo.photo_page }}"><img class="thumbnail" src="{{ photo.thumb }}" alt="{{ photo.title }}" /></a>
        {% if selectable %}
            <input type="checkbox" class="flickr-select" name="r" value="{{photo.id}}|{{photo.title}}"{% if selected %} checked="checked"{% endif %} />
        {% if selected %}<input type="hidden" name="sr" value="{{ photo.id }}" />{% endif %}
        {% endif %}
        <br />
        {{ photo.title }}<br />
    </div>
{% endifequal %}
{% ifequal viewmode "list" %}
    <div class="record_list">
        {% if selectable %}
            <input type="checkbox" class="flickr-select" name="r" value="{{photo.id}}|{{photo.title}}"{% if selected %} checked="checked"{% endif %} />
        {% if selected %}<input type="hidden" name="sr" value="{{ photo.id }}" />{% endif %}
        {% endif %}
        <a href="{{ photo.photo_page }}"><img src="{{ photo.thumb }}" />{{ photo.title }}</a>
    </div>
{% endifequal %}