{% extends "master.html" %}
{% load help %}
{% load comments %}
{% load humanize %}

{% block content %}

<div id="comments">
    {% get_comment_list for flatpages.flatpage 1 as comments %}
    {% for comment in comments %}
        {{ comment.comment|linebreaks }}
        <div class="byline">Posted {{ comment.submit_date|naturalday }} by {{ comment.user }}.</div>
    {% endfor %}
</div>

<h1>MDID flickr Portal</h1>

<div>{{response|safe}} </div>
<div>
	<ul>
    	<li><a href="{% url flickr-people %}">Find flickr users</a></li>
    </ul>
    <form action="{% url flickr-photo-search %}" method="post">
        Search: <input name="search_string" type="text_field" value="" />
        <input type="submit" value="Search" />
    </form>
</div>

{% endblock %}