{% extends "master.html" %}
{% load help %}
{% load comments %}
{% load humanize %}

{% block content %}

<div class="horizontal-block">
    <form action="{% url flickr-photo-search %}" method="post">{% csrf_token %}
        Keywords: <input name="search_string" type="text_field" value="{{ search_string }}" />
        <input type="submit" value="Go" />
        View:
        <select name="view" id="view_dropdown">
            <option value="thumb"{% ifequal view "thumb" %} selected="selected"{% endifequal %}>Thumbnails</option>
            <option value="list"{% ifequal view "list" %} selected="selected"{% endifequal %}>List</option>
        </select>
    </form>
</div>

{% for photo in photos %}
    <div class="record">
        <a href="{{ photo.record.get_absolute_url }}"><img class="thumbnail" src="{{ photo.record.get_thumbnail_url }}" alt="{{ photo.record.title }}" /></a>
        <br />
        {{ photo.record.title }}<br />
    </div>

{% endfor %}

{% endblock %}
