{% extends "master.html" %}
{% load help %}
{% load comments %}
{% load humanize %}
{% load smart_if %}
{% load flickr_ui %}

{% block content %}

<div class="horizontal-block">
    Your query found {{ results.total }} hit(s).
    Page {{ results.page }} of {{ results.pages }}.
    {% if results.page > 1 %}<a href="javascript:;" onclick="paginate(-1)">Previous</a>{% endif %}
    {% if results.page < results.pages %}<a href="javascript:;"  onclick="paginate(1)">Next</a>{% endif %}
</div>

<div class="horizontal-block">
    {% if user.is_authenticated %}
		<form method="POST" action="{% url flickr-import-set %}">
			<input type="hidden" name="setid" value="{{ setid }}"/>
			<input type="submit" value="Import Collection"/>
		</form>
    {% endif %}
</div>

<div class="resultlist">
	{% for photo in results.photos %}
	    {% photo photo 'selectable' view %}
	{% endfor %}
</div>


{% endblock %}