{% extends "master.html" %}
{% load ui %}
{% load help %}
{% load humanize %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(function() {
    enableRelatedImages("Hover over a collection to see selected matching images");    
});
</script>
{% endblock %}

{% block help %}
    {% pagehelp 'Collection_Overview' %}
{% endblock %}

{% block content %}

<h1>Collection Overview</h1>

{% for collection in collections %}
<div class="collection_overview">
    <h2>{{ collection.title }}</h2>
    <div>{{ collection.description }}</div>
    {% if collection.agreement %}
        <div style="border: thin dashed grey; font-size: smaller;"><strong>Usage Agreement:</strong> {{ collection.agreement }}</div>
    {% endif %}    
    <div>
        {% if collection.num_records %}
        <a class="related-images" href="{% url solr-search %}?c=collections:{{ collection.id }}">Explore {{ collection.num_records|intcomma }}
        record{{ collection.num_records|pluralize }}</a>
        <a href="{% url solr-browse-collection collection.id collection.name %}">Browse</a>
        {% else %}
        This collection contains no records.
        {% endif %}
    </div>
    
</div>
{% endfor %}

{% endblock %}
