{% extends "data_record_master.html" %}
{% load ui %}
{% load viewers %}

{% block record_content %}

<div>
    <h2>Available Metadata</h2>
    
    <form action="." method="GET">
    Display metadata as: <select name="fieldset">
    <option value="_all"{% ifequal selected_fieldset "_all" %} selected="selected"{% endifequal %}>Show All</option>
    <option value=""{% if not selected_fieldset %} selected="selected"{% endif %}>Default</option>
    {% for fieldset in fieldsets %}
    <option value="{{ fieldset.name }}"{% ifequal selected_fieldset fieldset.name %} selected="selected"{% endifequal %}>{{ fieldset.title }}</option>
    {% endfor %}
    </select>
    <input type="submit" value="Change" />
    </form>
    
    <div>
    {% for value in fieldvalues %}
        <span>{{ value.resolved_label }}:</span> <span>{{ value.value }}</span><br />
    {% endfor %}
    </div>
</div>

<div>
    <h2>Available Media</h2>
    {% if media %}
    <table summary="Available Media">
        <tr>
            <th>Name</th>
            <th>Storage</th>
            <th>Mimetype</th>
            <th>Width</th>
            <th>Height</th>
            <th>Bitrate</th>
        </tr>
    {% for m in media %}
        <tr>
            <td><a href="{{ m.get_absolute_url }}">{{ m.name }}</a></td>
            <td>{{ m.storage.title }}</td>
            <td>{{ m.mimetype }}</td>
            <td>{{ m.width }}</td>
            <td>{{ m.height }}</td>
            <td>{{ m.bitrate }}</td>
        </tr>
    {% endfor %}
    </table>
    
    {% else %}
    No media is available for this record.
    {% endif %}
</div>

{% endblock %}