{% extends "data_record_master.html" %}
{% load ui %}
{% load viewers %}

{% block record_content %}

<div>
    <h2>Edit Metadata</h2>
    
    <div>
    {% for value in fieldvalues %}
        <span>{{ value.resolved_label }}:</span> <span>{{ value.value|safe }}</span><br />
    {% endfor %}
    </div>
    
    <form method="POST" action="">
        {{ fv_formset.management_form }}
        {% for form in fv_formset.forms %}
            <div class="fieldvalue-edit{% cycle '' ' alternate-row' %}">
                {{ form.errors }}{{ form.id }}
                <div class="column">
                    <span class="row"><label for="{{ form.field.html_name }}">Field:</label> {{ form.field }}</span>
                    <span class="row"><label for="{{ form.label.html_name }}">Label:</label> {{ form.label }}</span>
                </div>
                <div class="column">
                    <span class="row">{{ form.value }}</span>
                </div>
                <div class="column">
                    <span class="row"><label for="{{ form.type.html_name }}">Type:</label> {{ form.type }}</span>
                    <span class="row"><label for="{{ form.language.html_name }}">Language:</label> {{ form.language }}</span>
                    <span class="row"><label for="{{ form.ORDER.html_name }}">Order:</label> <span class="fs-order">{{ form.ORDER }}</span></span>
                </div>
                <div class="column">
                    <span class="row"><label for="{{ form.hidden.html_name }}">Hide:</label> {{ form.hidden }}</span>                    
                    <span class="row"><label for="{{ form.DELETE.html_name }}">Delete:</label> {{ form.DELETE }}</span>
                    <span class="row">{% if form.is_overriding %}This value overrides another value.{% endif %}</span>
                </div>
            </div>
        {% endfor %}
        <input type="submit" />
    </form>
</div>

<div>
    <h2>Edit Media</h2>
    {% if media %}
    <table>
        <tr>
            <th>Name</th>
            <th>Storage</th>
            <th>Mimetype</th>
            <th>Width</th>
            <th>Height</th>
            <th>Bitrate</th>
        </tr>
    {% for m in media %}
        <tr>
            <td><a href="{{ m.get_absolute_url }}">{{ m.name }}</a></td>
            <td>{{ m.storage.title }}</td>
            <td>{{ m.mimetype }}</td>
            <td>{{ m.width }}</td>
            <td>{{ m.height }}</td>
            <td>{{ m.bitrate }}</td>
        </tr>
    {% endfor %}
    </table>
    
    {% else %}
    No media is available for this record.
    {% endif %}
</div>

{% endblock %}