{% extends "master.html" %}
{% load viewers %}

{% block content %}

<h1>{{ collection.title }}</h1>

<div>
    Description: {{ collection.description }}
</div>

<div>
    {% view_inline collection %}
</div>

{% if viewers %}
<div>
    {% for viewer in viewers %}
        {{ viewer|safe }}<br />
    {% endfor %}
</div>
{% endif %}

<div>
    <a href="{% url solr-search-collection id=collection.id, name=collection.name %}">Explore this collection</a>
</div>

{% endblock %}