<div class='metadata'>
{% for value in values %}
    <div class='metadata-{% if value.subitem %}sub{% endif %}item'>
        <div class='label{% cycle '' ' altrow' %}'>{{ value.resolved_label }}:</div>
        <div class='value{% cycle '' ' altrow' %}'>{{ value.value|default:"&nbsp;" }}
{% if value.owner %}
        <img src="{% url static 'images/user.png' %}" class="user-icon" style="vertical-align: middle;" title="{{ value.owner.username }}" />
{% endif %}
        </div>
    </div>
{% endfor %}
</div>
