{% extends "master.html" %}
{% load humanize %}
{% load help %}

{% block help %}
    {% pagehelp 'Selected_Records' %}
{% endblock %}

{% block content %}

<h1>Selected Records</h1>


{% if presentation_form.presentation.field.choices %}
<form method="POST" action=".">
<table summary="Add to presentation">
{{ presentation_form }}
<tr>
    <td></td>
    <td><input type="submit" name="addtopresentation" value="Add selected records" /></td>
</tr>
</table>
</form>
{% endif %}


<a href="{% url solr-selected %}">Explore {{ selected|length|intcomma }} selected record{{ selected|pluralize }}</a>

<a href="{% url flickr-export-photo-list %}">Export to Flickr</a>


{% with False as selectable %}
{% include "results_bare_icons.html" %}
{% endwith %}

{% endblock %}
