{% extends request.master_template|default:"master.html" %}
{% load ui %}
{% load viewers %}
{% load data %}

{% block javascript %}
{{ block.super }}

<script type="text/javascript">
    $(document).ready(function() {
        $(".submit-on-select-change select").change(function () { this.form.submit(); });
        $(".submit-on-select-change :submit").remove();

        function hide_empty(elements, speed) {
            $(":checkbox:not(:checked),:text[value=]", elements).closest("span.row").hide(speed);
        }
        hide_empty(".advanced");
        $(".advanced-switch input").attr("checked", false).click(function(e) {
            e = $(this).closest(".fieldvalue-edit").find(".advanced");
            if (this.checked) e.show("fast"); else hide_empty(e, "fast");
            });
        $(".advanced-switch").show();
        $(".orderinput").hide();
        $("#fieldvalues").css("cursor", "move").sortable({
            axis: 'y',
            stop: function(event, ui) {
                $("#fieldvalues .fieldvalue-edit:even").removeClass('altrow');
                $("#fieldvalues .fieldvalue-edit:odd").addClass('altrow');
                $(".orderinput input").each(function(i) {
                    // only set order if a field is selected
                    if ($('#' + this.id.substring(0, this.id.length - 5) + "field").val())
                        $(this).val(i + 1);
                });
            },
            start: function(event, ui) {
                ui.helper.removeClass('altrow');
            },
            });
        $(".autocomplete :input").each(function() {
            var f = $('#' + this.id.substring(0, this.id.length - 5) + "field");
            $(this).autocomplete('{% url api-solr-autocomplete %}', {
                extraParams: {field: function() { return f.val(); }},
                formatItem: function(row, pos, num, query) { return decodeURIComponent(row); },
                formatResult: function(row, pos, num) { return decodeURIComponent(row); },
                });
            });
    });
</script>
{% endblock %}


{% block sidebar %}
{{ block.super }}

{% if record.id %}
<div class="facet active-facet" id="data_record_thumbnail">
    <div class="facet-header">Thumbnail</div>
    <div class="facet-body" style="text-align: center;">
        <img src="{{ record.get_thumbnail_url }}" alt="{{ record.title|default:"Untitled" }}" />
    </div>
</div>
{% endif %}

{% if record.owner %}
<div class="facet active-facet" id="data_record_owner">
    <div class="facet-header">Owner</div>
    <div class="facet-body">
        {{ record.owner.get_full_name }} ({{ record.owner.username }})
    </div>
</div>
{% endif %}

{% if request.user.is_authenticated and record.id %}
<div class="facet active-facet" id="data_record_editing">
    <div class="facet-header">Editing</div>
    <div class="facet-body">
        <div>
{% if can_edit and record.id and not fv_formset %}
        <a href="{% url data-record-edit record.id record.name %}">Edit Record</a><br />
{% endif %}
{% if record.id and not fv_formset %}
        <a href="{% url data-record-edit-customize record.id record.name %}">Customize Record</a><br />
{% endif %}
{% if fv_formset and record.id %}
        <a href="{% if next %}{{ next }}{% else %}{% url data-record record.id record.name %}{% endif %}">Cancel Editing</a><br />
{% endif %}
{% if record.owner %}{% ifequal record.owner request.user %}
  {% add_tags_form record "suggested" "Suggest" %}
{% endifequal %}{% endif %}
{% if can_edit and record.id and not fv_formset %}
    <form method="post" action="{% url data-record-delete record.id, record.name %}">{% csrf_token %}
        <input type="submit" name="delete_record" value="Delete Record" />
    </form>
{% endif %}

        </div>
    </div>
</div>
{% endif %}

{% if record.id and not fv_formset %}
{% if request.user.is_authenticated %}
<div class="facet active-facet" id="data_record_your_tags">
    <div class="facet-header">Your Tags</div>
    <div class="facet-body">
    {% owned_tags_for_object record for request.user as tags %}
    {% for tag in tags %}
        {% tag tag record "True" %}
    {% empty %}
        Not tagged yet.
    {% endfor %}
    {% add_tags_form record %}
    </div>
</div>
{% endif %}

<div class="facet active-facet" id="data_record_all_tags">
    <div class="facet-header">All Tags</div>
    <div class="facet-body">
        <div>
    {% owned_tags_for_object record except request.user as tags %}
    {% for tag in tags %}
        {% tag tag record %}
    {% empty %}
        Not tagged yet.
    {% endfor %}
        </div>
    </div>
</div>
{% endif %}

{% if record.parent %}
<div class="facet active-facet" id="data_record_parent">
    <div class="facet-header">Parent record</div>
    <div class="facet-body">
    {% record record.parent 'selectable' %}
    </div>
</div>
{% endif %}

{% if record.id and record.record_set.count %}
<div class="facet active-facet" id="data_record_children">
    <div class="facet-header">Child records</div>
    <div class="facet-body" style="max-height: 400px; overflow: auto;">
        {% for child in record.record_set.all %}
            {% record child 'selectable' %}
        {% endfor %}
    </div>
</div>
{% endif %}

{% if not fv_formset %}
<div class="facet active-facet" id="data_record_viewers">
    <div class="facet-header">Viewers</div>
    <div class="facet-body">
        {% list_viewers record request.get_full_path '<br />' %}
    </div>
</div>

{% if media or can_edit %}
<div class="facet active-facet" id="data_record_media">
    <div class="facet-header">Media</div>
    <div class="facet-body">
    {% if media %}
    <ul>
    {% for m in media %}
        <li>
            <a href="{{ m.get_absolute_url }}">{{ m.name }}</a>
            {{ m.mimetype }}
            {% if m.width and m.height %}
                {{ m.width }}x{{ m.height }}
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% if can_edit %}
        <a href="{% url storage-upload record.id, record.name %}?next={{ request.get_full_path|urlencode }}">Upload media</a>
    {% endif %}
    </div>
</div>
{% endif %}
{% endif %}

{% endblock %}


{% block content %}

<h1>{{ record.title|default:"Untitled" }}</h1>

{% if not fv_formset %}

<form id="metadata-form" class="submit-on-select-change" action="." method="GET">
Display metadata as: {{ fieldsetform.fieldset }}
<input type="submit" value="Change" />
</form>

<div>
    {% metadata record fieldset %}
</div>

<br style="clear: left;" /><br />

<h2>Collection Memberships</h2>

<table>
    <tr>
    <th>Collection</th>
    <th>{% if record.owner %}Shared{% else %}Visible{% endif %}</th>
    </tr>

{% for item in collection_items %}
<tr class="{% cycle '' 'altrow' %}">
    <td>
        {{ item.collection.title }}
    </td>
    <td style="text-align: center;">
        {{ item.hidden|yesno:"no,yes" }}
    </td>
</tr>
{% endfor %}
</table>


{% else %}

<h2>
    {% if customize %}
        Annotate Record
    {% else %}
        {% if context %}
            Annotate Record for {{ context.title }}
        {% else %}
            {{ record.id|yesno:"Edit,Create" }} Record
        {% endif %}
    {% endif %}
</h2>

<form method="GET" action="" class="submit-on-select-change">
    Edit using fields template: {{ fieldsetform.fieldset }}
    <input type="submit" value="Edit" />
</form>


<form method="POST" action="">{% csrf_token %}
    {{ fv_formset.management_form }}
    <div style="margin-top: 20px;">
        <div id="fieldvalues">
            <input type="submit" value="Submit Changes" />

    {% for form in fv_formset.forms %}
        <div class="fieldvalue-edit{% cycle '' ' altrow' %}">
            {{ form.errors }}
            {{ form.id }}
            {{ form.context_type }}
            {{ form.context_id }}
            <div class="fvcol">
                <span class="row"><label for="{{ form.label.html_name }}">Label:</label> {{ form.label }}</span>
                <span class="row"><label for="{{ form.field.html_name }}">Field:</label> {{ form.field }}</span>
                <span class="row advanced"><label for="{{ form.refinement.html_name }}">Refine:</label> {{ form.refinement }}</span>
            </div>
            <div class="fvcol">
                <span class="row autocomplete">{{ form.value }}</span>
            </div>
            <div class="fvcol narrow">
                <span class="row advanced"><label for="{{ form.date_start.html_name }}">Start year:</label> {{ form.date_start }}</span>
                <span class="row advanced"><label for="{{ form.date_end.html_name }}">End year:</label> {{ form.date_end }}</span>
                <span class="row advanced"><label for="{{ form.numeric.html_name }}">Numeric:</label> {{ form.numeric_value }}</span>
            </div>
            <div class="fvcol narrow">
                <span class="row advanced"><label for="{{ form.language.html_name }}">Language:</label> {{ form.language }}</span>
                <span class="row orderinput"><label for="{{ form.order.html_name }}">Order:</label> {{ form.order }}</span>
                <span class="row advanced"><label for="{{ form.group.html_name }}">Group:</label> {{ form.group }}</span>
            </div>
            <div class="fvcol">
                <span class="row advanced"><label for="{{ form.hidden.html_name }}">Hide:</label> {{ form.hidden }}</span>
                <span class="row"><label for="{{ form.DELETE.html_name }}">Delete:</label> {{ form.DELETE }}</span>
                <span class="row advanced-switch" style="display: none;"><label>Advanced:</label> <input type="checkbox" /></span>
            </div>
        </div>
    {% endfor %}
        </div>

    {% if c_formset %}
    {{ c_formset.management_form }}
    <br /><br />

    <h2>Collection Memberships</h2>
    <table>
        <tr>
        <th>Collection</th>
        <th>Member</th>
        <th>{% if record.owner %}Shared{% else %}Visible{% endif %}</th>
        </tr>

    {% for form in c_formset.forms %}
    <tr class="{% cycle '' 'altrow' %}">
        <td>
            {{ form.id }}
            {{ form.title }}
        </td>
        <td style="text-align: center;">
            {{ form.member }}
        </td>
        <td style="text-align: center;">
            {{ form.shared }}
        </td>
    </tr>
    {% endfor %}
    </table>
    {% endif %}

        <input type="submit" value="Submit Changes" />
    </div>
</form>
{% endif %}

{% endblock %}
