{% extends "master.html" %}
{% load help %}
{% load comments %}
{% load humanize %}

{% block javascript %}
{{ block.super }}
    <script type="text/javascript">    
        var loadingRandomImages = true;    
        function showRandomImages() {            
            $("#randomimages").fadeOut("fast");
            ajaxManager.add({
                type: 'GET',
                url: '/explore/api/search/?v=im&s=random_' + (new Date().getTime()) + "+asc&ps=" + Math.floor($("#randomimages").width() / 110),
                dataType: 'json',
                success: function(r) {
                    $("#randomimages").html(r.html);
                    loadingRandomImages = true;
                }
            });
        }
        function displayRandomImages() {
            if (loadingRandomImages) {
                var ready = true;
                $("#randomimages img").each(function (e,i) { ready = ready && i.complete; });
                if (ready) {
                    loadingRandomImages = false;
                    $("#randomimages").fadeIn("slow");                    
                }
            }
        }        
        $(document).ready(function() {
            $("#jswarning").hide();
            showRandomImages();
            setInterval("displayRandomImages();", 1000);
            setInterval("showRandomImages();", 20000);
        });
    </script>
{% endblock %}

{% block content %}

<div style="background-color: #cc0000; color: white; font-weight: bold; padding: 3px; text-align: center; margin: 10px;" id="jswarning">You have JavaScript disabled.  MDID works better with JavaScript enabled.</div>

<div>
  <!--[if lt IE 7]>
  <div style='border: 1px solid #F7941D; background: #FEEFDA; text-align: center; clear: both; height: 75px; position: relative;'>
    <div style='position: absolute; right: 3px; top: 3px; font-family: courier new; font-weight: bold;'><a href='#' onclick='javascript:this.parentNode.parentNode.style.display="none"; return false;'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-cornerx.jpg' style='border: none;' alt='Close this notice'/></a></div>
    <div style='width: 640px; margin: 0 auto; text-align: left; padding: 0; overflow: hidden; color: black;'>
      <div style='width: 75px; float: left;'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-warning.jpg' alt='Warning!'/></div>
      <div style='width: 275px; float: left; font-family: Arial, sans-serif;'>
        <div style='font-size: 14px; font-weight: bold; margin-top: 12px;'>You are using an outdated browser</div>
        <div style='font-size: 12px; margin-top: 6px; line-height: 12px;'>For a better experience using this site, please upgrade to a modern web browser.</div>
      </div>
      <div style='width: 75px; float: left;'><a href='http://www.firefox.com' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-firefox.jpg' style='border: none;' alt='Get Firefox 3.5'/></a></div>
      <div style='width: 75px; float: left;'><a href='http://www.browserforthebetter.com/download.html' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-ie8.jpg' style='border: none;' alt='Get Internet Explorer 8'/></a></div>
      <div style='width: 73px; float: left;'><a href='http://www.apple.com/safari/download/' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-safari.jpg' style='border: none;' alt='Get Safari 4'/></a></div>
      <div style='float: left;'><a href='http://www.google.com/chrome' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-chrome.jpg' style='border: none;' alt='Get Google Chrome'/></a></div>
    </div>
  </div>
  <![endif]-->

    <div id="main">
    
    <div id="randomimages"></div>
    <h1>Welcome</h1>
    
    <div style="clear: both;"></div>
    
<div class="main-block">
    <h2>Find Content</h2>
    
    <a href="{% url solr-search %}">Explore</a>
    <a href="{% url solr-searchform %}">Search</a>
    <a href="{% url solr-browse %}">Browse</a>
    <a href="{% url solr-overview %}">Collection Overview</a>
    <a href=".">Presentations</a>
    <a href="{% url flickr-main %}">Flickr</a>
    <a href="{% url about %}">About</a>
    
</div>

<div class="main-block">
    <h2>My content</h2>
    
    {% if user.is_authenticated %}
    
    <a href="{% url presentation-manage %}">My Presentations</a>
    <a href=".">My Favorites</a>
    <a href=".">My Content</a>
    <a href=".">Options</a>
    <a href="{% url logout %}">Log out</a>
    
    {% else %}

    Please log in to see your content:
    
    <form method="POST" action="{% url login %}">
        {{ form.as_p }}
        <input type="submit" value="Log in" />
    </form>
    
    {% endif %}
</div>


<div id="comments" class="main-block">
    <h2>Announcements</h2>
    
    {% get_comment_list for flatpages.flatpage 1 as comments %}
    {% for comment in comments %}
        {{ comment.comment|linebreaks }}
        <div class="byline">Posted {{ comment.submit_date|naturalday }} by {{ comment.user }}.</div>
    {% endfor %}
</div>

<div style="clear: both;"></div>

    </div>
    
</div>

{% endblock %}