{% extends "master.html" %}
{% load help %}
{% load comments %}
{% load humanize %}

{% block title %} - Welcome{% endblock %}

{% block javascript %}
{{ block.super }}
    <script type="text/javascript">
        var order = {{ order }};
        var data = [
{% for record in records %}
['{{ record.title|escapejs }}',
 '{{ record.get_absolute_url }}',
 {% with record.collection_set.all.0 as collection %}
 '{{ collection.title|escapejs }}',
 '{% if collection %}{% url solr-search-collection collection.id, collection.name %}{% endif %}',
 {% endwith %}
 ]{% if not forloop.last %},{% endif %}
{% endfor %}
        ];
        var index = 0;
        var position = 0;
        var interval;
        var hovertimeout;

        function nextImage(newposition) {
            if (position == newposition) return;
            var title = $("#image-preview .image-title a");
            var subtitle = $("#image-preview .image-subtitle a");
            var current = position;
            position = newposition;
            var d = data[position];
            $("#image-preview .image-preview-main").eq(current).fadeOut(1000);
            $("#image-preview .image-preview-main").eq(position).fadeIn(1000);
            title.fadeOut(500, function() { title.html(d[0]).attr("href", d[1]).fadeIn(500); });
            subtitle.fadeOut(500, function() { subtitle.html(d[2]).attr("href", d[3]).fadeIn(500); });
            $("#image-preview .image-preview-thumb").removeClass("active-image-preview-thumb").eq(position).addClass("active-image-preview-thumb");
        }

        function autoAdvance() {
            clearInterval(interval);
            interval = setInterval(function() { index = (index + 1) % order.length; nextImage(order[index]); }, 10000);
        }

        $(window).load(function () {
            autoAdvance();
        });

        $(document).ready(function() {
            $("#image-preview .image-preview-thumb").hover(
                function() {
                    clearInterval(interval);
                    clearTimeout(hovertimeout);
                    var n = $(this).prevAll().length - 1;
                    hovertimeout = setTimeout(function() { nextImage(n); }, 500)
                },
                function() {
                    clearTimeout(hovertimeout);
                    autoAdvance();
                }
            );
            $("#image-preview .image-preview-main").hover(
                function() {
                    clearInterval(interval);
                },
                autoAdvance
            );
        });
    </script>
{% endblock %}

{% block content %}

  {% include "ie6warning.html" %}

  <div id="image-preview">

    {% if records %}

    <div id="image-preview-container">
        {% for record in records %}
        {% with record.title as title %}
        <div class="image-preview-main"{% if not forloop.first %} style="display: none;"{% endif %}>
            <a href="{{ record.get_absolute_url }}">
                <img src="{% url storage-retrieve-image record.id, record.name, 560, 420 %}" title="{{ title }}" alt="{{ title }}" />
            </a>
        </div>
        {% endwith %}
        {% endfor %}
    </div>
    {% for record in records %}
        {% with record.title as title %}
    <div class="image-preview-thumb{% if forloop.first %} active-image-preview-thumb{% endif %} record-anchor" id="record-id-{{ record.id }}">
        <a href="{{ record.get_absolute_url }}">
            <img src="{{ record.get_thumbnail_url }}?square" title="{{ title }}" alt="{{ title }}" />
        </a>
    </div>
        {% endwith %}
    {% endfor %}
    <div id="image-preview-reload"><a href=".">Load new images</a></div>
    {% with records.0.collection_set.all.0 as collection %}
    <div class="image-title"><a href="{{ records.0.get_absolute_url }}">{{ records.0.title }}</a></div>
    <div class="image-subtitle"><a href="{% if collection %}{% url solr-search-collection collection.id, collection.name %}{% endif %}">{{ collection.title }}</a></div>
    {% endwith %}

    {% endif %}
  </div>


  <div class="columns">

    <div class="column">
    {% if not user.is_authenticated %}
        <h2>Log in</h2>

        <form action="{% url login %}" method="post">{% csrf_token %}
            <table summary="Login">
            <tr><td>{{ login_form.username.label_tag }}</td><td>{{ login_form.username }}</td></tr>
            <tr><td>{{ login_form.password.label_tag }}</td><td>{{ login_form.password }}
                <br /><br /><input type="submit" value="Log in" /></td></tr>
            </table>
            <input type="hidden" name="next" value="{% url main %}" />
        </form>

    {% else %}
        <h2>Hello{% if user.first_name %}, {{ user.first_name }}{% endif %}</h2>
    {% endif %}
    </div>

    <div class="column announcements">

        <h2>Announcements</h2>
        {% if perms.comments.add_comment %}
            <div style="margin-bottom: 10px;"><a href="{% url ui-announcement-new %}">Create new announcement</a></div>
        {% endif %}

        {% get_comment_list for flatpages.flatpage 1 as comments %}

        {% for comment in comments reversed %}
            {{ comment.comment|safe|linebreaks }}
            <div class="byline">Posted {{ comment.submit_date|naturalday }} by {{ comment.user }}.
            {% if perms.comments.change_comment %}<a href="{% url ui-announcement-edit comment.id %}">Edit</a>{% endif %}
            {% if perms.comments.delete_comment %}<a href="{% url ui-announcement-delete comment.id %}">Delete</a>{% endif %}
            </div>
        {% endfor %}

    </div>

  </div>

    <div class="columns columns-bottom">
        <div class="column"></div>
        <div class="column"></div>
    </div>


{% endblock %}
