{% load ui %}
{% var as colors %}
{
    "background": "rgb(229, 225, 214)",
    "headers": "rgb(152, 189, 198)",
    "background_top": "rgb(83, 82, 78)"
    
}
{% endvar %}
<style type='text/css'>

#stats { background-color: #ddd; font-size: 65%; padding: 5px;
        z-index: 1000; position: absolute; right: 32px; top: 83px;
        -moz-opacity: .7; opacity: .7;}


body.master {
    background-color: {{ colors.background }};
    min-width: 970px;
    font-family: "Segoe UI", Calibri, "Myriad Pro", Tahoma, Helvetica, Arial, sans-serif;
    padding-bottom: 80px;
}        

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: {{ colors.headers }};
    text-decoration: none;
}

#topmenu {
    margin: 0;
    background-color: {{ colors.background_top }};
    height: 22px;
    color: white;
    font-size: 8pt;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#topmenu ul {
    padding: 3px 20px;
    float: right;
    margin: 0;
}

#topmenu ul li {
    float: left;
    list-style: none;
    padding: 0 5px;
    border-left: solid white thin;
}

#topmenu ul li a {
    color: white;
    text-decoration: none;
}

#topmenu ul li:first-child {
    border-left: none;
}

#header-bar {
    position: absolute;
    top: 22px;
    width: 100%;
}

#header-bar.js-enabled {
    background-color: {{ colors.background_top }};
}

#header-bar div.spacer {
    background-color: white;
    margin: 0 21px;
    padding: 10px 10px 0 10px;
    border: solid thin rgb(127, 127, 127);
    border-bottom: none;
}

#header {
    background: rgb(152, 189, 198);
    color: white;
    font-size: 18pt;
    height: 50px;
}

#logo {
    background: url({% url static 'images/mdid_logo.png' %}) no-repeat bottom left;
    width: 180px;
    height: 50px;
    display: block;
    float: left;
}

#branding {
    float: right;
    background: url({% url static 'images/jmu_logo.png' %}) no-repeat bottom right;
    width: 107px;
    height: 50px;
}

#header ul {
    margin: 0;
}

#header ul li {
    position: relative;
    float: left;
    padding: 4px 20px;
    list-style: none;
    border-top: solid 5px rgb(152, 189, 198);
}

#header ul li.js-enabled {
    height: 37px;    
}

#header ul li.selected {
    border-top: solid 5px rgb(118, 147, 154);
}

#header ul li.search form{
    padding: 5px 0;
}

#header ul li.search input {
    padding: 0;
    margin: 0;
    vertical-align: bottom;
}

#quicksearch {
    font-size: large;
    color: #76939a;
    width: 120px;
    height: 23px;
    border: solid #76939a 2px;
    border-right-width: 1px;
}

#quicksearch.blur {
    color: #98bdc6;
}

#header ul li a {
    text-decoration: none;
    color: white;
}

#header ul.menu {
    left: 0;
    top: 100%;
    width: 100%;
    background-color: rgb(241, 241, 241);
    color: rgb(118, 147, 154);
    font-size: small;
    border: solid 5px rgb(118, 147, 154);
    border-top: none;
    z-index: 9999;
    margin-top: 10px;
}

#header ul.menu.js-enabled {
    margin-top: 0;
}
    
#header ul.js-enabled {
    position: absolute;
}

#header ul.menu li {
    float: none;
    height: auto !important;
    border-top: thin solid rgb(230, 230, 230);
}

#header ul.menu li:first-child {
    border: none;
}

#header ul.menu li a {
    color: rgb(118, 147, 154);
}

#content-wrapper {
    margin: 0 20px;
    border: solid thin #c9c6bc;
    border-top: none;
    background-color: white;
}

#content {
    padding: 200px 10px 15px 10px;
    border: solid thin #aeaba3;
    border-top: none;
    clear: both;
}

#content.js-enabled {
    padding-top: 98px;
}

#footer {
    margin-top: 50px;
    clear: both;
    font-size: smaller;
}

#javascriptwarning {
    color: white;
    background-color: red;
    border: thin solid white;
    padding: 0 4px;
    margin-left: 2px;
}

#basket-tab {
    background: white url({% url static 'images/closed_basket_icon.png' %}) no-repeat 5px 3px;
    border: solid 5px rgb(152, 189, 198);
    color: rgb(152, 189, 198);
    font-weight: bolder;
    font-size: smaller;
    border-bottom: none;
    width: 140px;
    position: fixed;
    bottom: 60px;
    left: 50px;
    text-align: right;
    padding-right: 10px;
    cursor: pointer;
}

#basket-content {
    position: fixed;
    bottom: 0;
    background-color: white;
    border-top: solid 5px rgb(152, 189, 198);
    height: 60px;
    width: 100%;
    opacity: 0.9;
    filter: alpha(opacity=90);
    overflow: scroll;
}

#basket-thumbs img {
    width: 50px;
    height: 50px;
    margin: 4px 2px 0 2px;
    border: solid lightgrey thin;
}

#basket-menu {
    float: right;
    padding-right: 10px;
}

#basket-scroll-left {
    float: left;
    height: 60px;
    width: 15px;
    visibility: hidden;
    background: center no-repeat url({% url static "images/basket_left.png" %});
    cursor: pointer;
    margin: 0 5px;
}

#basket-scroll-right {
    float: right;
    height: 60px;
    width: 15px;
    visibility: hidden;
    background: center no-repeat url({% url static "images/basket_right.png" %});
    cursor: pointer;
    margin: 0 5px;
}

#sidebar {
    float: right;
    width: 195px;
    clear: right;
    margin-top: 20px;
}

#sidebar img, #sidebar .image {
    margin: 0;
    vertical-align: bottom;
}

#sidebar label {
  display: block;
  margin-top: 5px;
}

#sidebar select {
  width: 170px;
}
  
#keywords {
    width: 135px;
    height: 16px;
}

.imagebar {
    margin: 0 20px;
}

.imagebar img {
    margin: 0;
}

.facet {
    border: thin lightgrey solid;
    margin: 5px;
}

.active-facet {
    border-color: rgb(152, 189, 198);
}

.facet-header {
    background-color: lightgrey;
    padding: 2px;
}

.facet-header img {
    float: right;
}

.active-facet .facet-header {
    background-color: rgb(152, 189, 198);
    color: white;
}

.facet-body {
    font-size: smaller;
    padding: 2px;
    max-height: 400px;
    overflow: auto;
}

.facet-body a {
    text-decoration: none;
}

.facet-body ul {
    margin-bottom: 0;
}

.altrow {
    background-color: #F7F7F7;
}

#resultlist {
    padding-right: 12em;
    margin-top: 20px;
}

.record {
    float: left;
    border: thin lightgrey solid;
    width: 225px;
    height: 102px;
    padding: 3px;
    margin: 5px;
    overflow: hidden;
    font-size: smaller;
    background-color: #F7F7F7;
    position: relative;
}

.record a {
    text-decoration: none;
}

.record img {
    border: thin solid lightgrey;
    position: absolute;
    max-width: 100px;
    overflow: hidden;
}

.record-select {
    position: absolute;
    top: 0px;
    right: 0px;
}

.record-title {
    padding: 0 16px 0 105px;
}

.resultlist-list .record {
    float: none;
    border: none;
    border-bottom: thin lightgrey solid;
    padding: 2px;
    white-space: nowrap;
    overflow: hidden;
    height: 22px;
    background-color: transparent;
    width: auto;
    margin: 0;
}

.resultlist-list .record-title {
    padding-left: 50px;
}

.resultlist-list .record-select {
    left: 32px;
}

.resultlist-list .record img {
    border: hidden;
    vertical-align: baseline;
    height: 20px;
    max-width: 30px;
    margin-right: 5px;
}

.tag {
    background-color: rgb(152, 189, 198);
    color: white;
    font-size: 0.7em;
    font-family: sans-serif;
    -moz-border-radius: 3px;
    padding: 2px 4px 2px 5px;
    white-space: nowrap;
    line-height: 1.8em;
}

.tag.secondary {
    background-color: lightgrey;
    color: black;
}

.removetag {
    color: white;
    text-decoration: none;
    border-left: thin solid white;
    padding: 2px 0px 2px 4px;
    margin-left: 4px;
}



form.vertical label {
    display: block;
    float: left;
    width: 120px;
    text-align: right;
    clear: left;
    margin: 3px 3px;
}

form.vertical input, form.vertical select, form.vertical textarea, form.vertical label.inline, form.vertical ul {
    display: block;
    float: left;
    margin: 3px;
    list-style: none;
}

form.vertical li label {
    clear: left;
    width: auto;
}

form.vertical label.inline {
    clear: none;
    width: auto;
}

form.vertical div.row {
    clear: left;
    margin: 3px 3px 3px 124px;
}

form.vertical ul.errorlist li {
    display: block;
    float: left;
    color: red;
    list-style: none;
    margin: 3px;
}


.pagination {
    clear: left;
    text-align: center;
}

.permission-list {
    overflow: hidden;
    white-space: nowrap;
}
.permission-list .a {
  color: green;
}
.permission-list .d {
  color: red;
  text-decoration: line-through;
}
.permission-list .u {
  color: lightgray;
}


#messages {
    margin: 0px auto 20px auto;
    text-align: center;
    line-height: 150%;
}

#messages span {
    background-color: #FFDD3F;
    -moz-border-radius: 5px;
    font-weight: bolder;
    font-family: sans-serif;
    font-size: 0.8em;
    padding: 3px 10px;
}

/*
 
 
.tag2 {
    font-size: 0.9em;
}

.tag3 {
    font-size: 1.1em;
}

.tag4 {
    font-size: 1.3em;
}

 
form ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.horizontal-block {
    border: thin grey solid;
    background-color: lightgrey;
    padding: 3px;
}

.alternate-row {
    background-color: #F7F7F7;    
}

div.fieldvalue-edit:first-child {
    border-top: thin solid grey;
}

div.fieldvalue-edit {
    border-bottom: thin solid grey;
    padding: 4px;
    margin: 0px;
    clear: both;
    overflow: auto;
}

div.fieldvalue-edit textarea {
    vertical-align: top;
    width: 300px;
    height: 60px;
}

div.fieldvalue-edit div.column {
    float: left;
    margin-right: 5px;
}
div.fieldvalue-edit div.column label {
    width: 70px;
    text-align: right;
    margin-right: 5px;
    display: block;
    float: left;
}

div.fieldvalue-edit div.column span.row {
    display: block;
    float: left;
    clear: left;
}

div.fieldvalue-edit optgroup {
    font-style: normal;
    font-weight: bold;
    margin-top: 5px;
    border-top: 1px solid black;
}

div.fieldvalue-edit div.narrow input {
    width: 50px;
}

#main {
    -moz-border-radius: 5px;
    border: 1px solid black;
    background-color: #DFF2FF;
    padding: 10px;
}

#main h1 {
    height: 100px;
    padding: 0px;
    float: left;
    margin: 0 0 10px 20px;
}

#comments p {
    margin: 0.2em 0 0.2em 0;
}

#comments p:first-line {
    font-size: larger;
    font-weight: bold;
}

#comments .byline {
    font-size: small;
    font-style: italic;
}

.icon {
    display: -moz-inline-box; 
    display: inline-block;
    vertical-align: bottom;
    background-image: url('/static/images/icons.png');
    width: 20px;
    height: 20px;
    text-decoration: none;
}

.icon * {
    visibility: hidden;
}

.help-icon {
    background-position: -40px 0px;
}

.or-icon {
    background-position: 0px 0px;
}

.remove-icon {
    background-position: -20px 0px;
}



.tagcloud a {
    text-decoration: none;
}

.browsecolumn {
    float: left;
    margin: 10px;
    width: 45%;
}

.browsecolumn div {
    text-indent: -20px;
    padding-left: 20px;
}

#related-images-bar {
    height: 18px;
    left: 0px;
    bottom: 0px;
    position: fixed;
    background-color: #F0F0F0;
    border-top: thin solid black;
}

#related-images-bar-toggle {
    width: 100%;
    height: 18px;
    font-size: 12px;
    border-bottom: thin solid grey;
}

div.metadata {
    font-size: smaller;
}

div.metadata div.label {
    position: absolute;
    width: 150px;
    font-weight: bold;
    text-align: right;
}

div.metadata div.label:after {
    content: ":";
}

div.metadata div.value {
    padding-left: 155px;
}

div.metadata-subitem div.label {
    display: none;
}


.altrow {
    background-color: #F7F7F7;
}

table {
    border-collapse: collapse;
}

table.list {
    margin: 10px 0 10px 0;
}

table.list th {
    background-color: #F0F0F0;
    text-align: left;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    font-family: sans-serif;
    font-size: 0.8em;
}

td, th {
    padding: 4px;
}

img.thumbnail {
    border: thin solid black;
}


.orderinput input {
    width: 3em;
}



.blur {
    color: grey;
}

*/

</style>
