{% load userprofile %}
{% spaceless %}
{% with request.user|profile_setting:"options_basket_thumbnails"|default:"square" as format %}
{% for record in selected_records %}
<a href="{{ record.get_absolute_url }}"><img id="basket-record-id-{{ record.id }}" class="thumbnail record-anchor metadata-anchor" src="{{ record.get_thumbnail_url }}{% if format == "square" %}?square{% endif %}" alt="{{ record.title }}" title="{{ record.title }}" /></a>
{% empty %}
<br />Your basket is empty.
{% endfor %}
{% endwith %}
{% endspaceless %}
