<div class="record">
    <a href="{{ record.get_absolute_url }}"><img class="thumbnail record-anchor" id="record-id-{{ record.id }}" src="{{ record.get_thumbnail_url }}" alt="{{ record.title }}" /></a>
    <div class="record-title"><a href="{{ record.get_absolute_url }}">{{ record.title }}</a></div>
    {% if selectable %}
    <input type="checkbox" class="record-select" name="r" value="{{ record.id }}"{% if selected %} checked="checked"{% endif %} />
    {% if selected %}<input type="hidden" name="sr" value="{{ record.id }}" />{% endif %}
    {% endif %}
    {% if record.owner %}
    <img src="{% url static 'images/user_grey.png' %}" alt="User" class="owner-icon {% ifnotequal request.user record.owner %}other-{% endifnotequal %}user-icon" title="{{ record.owner.get_full_name }}" />
    {% if record.shared %}
    <img src="{% url static 'images/unlocked.png' %}" alt="Shared" title="Shared" class="shared-icon" />
    {% else %}
    <img src="{% url static 'images/locked.png' %}" alt="Not shared" title="Not shared" class="shared-icon" />
    {% endif %}
    {% endif %}
</div>
