{% extends "master.html" %}
{% load humanize %}
{% load help %}
{% load ui %}


{% block content %}

<h1>Selected Records</h1>


<div id="selected-records">
{% for record in records %}
<a href="{{ record.get_absolute_url }}"><img id="record-id-{{ record.id }}" class="thumbnail record-anchor" src="{{ record.get_thumbnail_url }}?square" alt="{{ record.title }}" /></a>
{% endfor %}
</div>


{% endblock %}


{% block sidebar %}

{% var as related_pages %}
{"pages": [
    {"url": "{% url solr-selected %}", "title": "Explore {{ selected|length|intcomma }} selected record{{ selected|pluralize }}"},
    {"url": "{% url flickr-export-photo-list %}", "title": "Export to Flickr"}
]}
{% endvar %}

{{ block.super }}

{% if presentation_form.presentation.field.choices %}
  <div class="facet active-facet" id="ui_selected_presentation">
    <div class="facet-header">Add to presentation</div>
    <div class="facet-body">
        <form method="POST" action=".">
            {{ presentation_form.presentation.label }}:<br />
            {{ presentation_form.presentation }}<br />
            {{ presentation_form.title.label }}:<br />
            {{ presentation_form.title }}<br />
            <input type="submit" name="addtopresentation" value="Add records" />
        </form>
    </div>
  </div>
{% endif %}

{% endblock %}