{% extends "master.html" %}
{% load ui %}


{% block sidebar %}

{% var as related_pages %}
{"pages": [
{% if user.is_staff %}
    {"url": "{% url admin:index %}", "title": "Administration"}
{% endif %}
]}
{% endvar %}

{{ block.super }}

{% endblock %}


{% block content %}

<h1>Management</h1>

<p>Depending on your permissions, you may see different management options below.</p>

<ul id="management">
{% if user.is_superuser or storage_manage %}
    <li><a href="{% url storage-manage %}"><img src="{% url static 'images/icons/hdd_unmount.png' %}" alt="Manage Storage" /> Manage Storage</a></li>
{% endif %}
{% if collection_write %}
    <li><a href="{% url data-import %}"><img src="{% url static 'images/icons/applix.png' %}" alt="Import Metadata" /> Import Metadata</a></li>
{% endif %}
    <li><a href="{% url data-collections-manage %}"><img src="{% url static 'images/icons/bookcase.png' %}" alt="Manage Collections" /> Manage Collections</a></li>
{% if storage_write and collection_write %}
    <li><a href="{% url storage-import %}"><img src="{% url static 'images/icons/multimedia.png' %}" alt="Import Media Files" /> Import Media Files</a></li>
{% endif %}
{% if collection_write and storage_write %}
    <li><a href="{% url converters-powerpoint %}"><img src="{% url static 'images/icons/kpresenter.png' %}" alt="Import PowerPoint" /> Import PowerPoint</a></li>
{% endif %}
<li><a href="{% url workers-jobs %}"><img src="{% url static 'images/icons/kcmsystem.png' %}" alt="Manage Jobs" /> Manage Jobs</a></li>
</ul>

{% endblock %}
