{% extends "master.html" %}


{% block content %}

<h1>PowerPoint Import</h1>

Please select a PowerPoint file to import and the destinations for records and images.<br /><br />

<form action="." method="POST" enctype="multipart/form-data">

<table>
    <tr>
	<td>Target Presentation Title:
	</td>
	<td>{{ form.title }} {{ form.title.errors }}
	</td>
    </tr>
    <tr>
	<td>Target Collection:
	</td>
	<td>{{ form.collection }} {{ form.collection.errors }}
	</td>
    </tr>
    <tr>
	<td>Target Storage:
	</td>
	<td>{{ form.storage }} {{ form.storage.errors }}
	</td>
    </tr>
    <tr>
	<td>PowerPoint File:
	</td>
	<td>{{ form.file }} {{ form.file.errors }}
	</td>
    </tr>
    <tr>
	<td>
	</td>
	<td>
	    <input type="submit" value="Import" />
	</td>
    </tr>    
</table>
    
</form>

{% endblock %}