{% extends request.master_template|default:"master.html" %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(function() {
    $("#play_button").hide();
    $("#media_list").change(function() { $("#media_form").submit(); });
});
</script>
{% endblock %}


{% block sidebar %}
{{ block.super }}
<div class="facet active-facet" id="data_record_thumbnail">
    <div class="facet-header">Record</div>
    <div class="facet-body">
        <a href="{{ record.get_absolute_url }}">Go to record</a><br />
        {% if next %}<a href="{{ next }}">Return to previous page</a>{% endif %}
    </div>
</div>
{% endblock %}


{% block content %}

<h1><a href="{{ record.get_absolute_url }}">{{ record.title }}</a></h1>

{% if media.1 %}
Multiple media files available:
<form method="get" action=".?next={{ next|urlencode }}" id="media_form">
    <select name="media" id="media_list">
        {% for m in media %}
        <option value="{{ forloop.counter0 }}"{% ifequal selectedmedia m %} selected="selected"{% endifequal %}>
            Media {{ forloop.counter }}:
            {% if m.width and m.height %}{{ m.width }}x{{ m.height }}{% if m.bitrate %} at{% endif %}{% endif %}
            {% if m.bitrate %}{{ m.bitrate }} kbps{% endif %}
            in {{ m.storage.title }}
        </option>
        {% endfor %}
    </select>
    <input type="submit" value="Play" id="play_button" />
</form>
{% endif %}

<br />
<br />

Please copy and paste the following HTML into the desired web site:

<pre>

    &lt;!-- Begin embedded object: {{ record.title }} --&gt;
    &lt;div id="player-{{ record.id }}-{{ selectedmedia.id }}"&gt;&lt;/div&gt;
    &lt;script type="text/javascript" src="http{% if request.META.HTTPS == "on" %}s{% endif %}://{{ request.META.HTTP_HOST }}{% url viewers-embeddedmediaplayer-script record.id, selectedmedia.id %}"&gt;&lt;/script&gt;
    &lt;!-- End embedded object --&gt;

</pre>




{% endblock %}
