<!doctype html>
<html>
    <head>
            <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
        <script src= "{% url static 'galleria/galleria-1.2.8.js' %}"></script>
        <style>#galleria{width:auto; background: #000; }
                        html,body{margin:0;}
                </style>
                
    </head>
    <body>
        <div id="galleria">
                {% for record in presentation.records %}
                        {% with record.title as title %}
                            <!--  <img src="{{ record.get_image_url }}" title="{{ title }}" /> -->
                            <img src="{% url storage-retrieve-image record.id, record.name, 300, 300 %}" title="{{ title }}">
                        {% endwith %}
                    {% endfor %}
        </div>
        <script>
                var g = document.getElementById("galleria");
                    //g.style.height = "1080px";
                    g.style.height = window.innerHeight+ "px";
            Galleria.loadTheme("{% url static 'galleria/themes/classic/galleria.classic.min.js' %}");
            Galleria.run('#galleria');
        </script>
    </body>
</html>
