{% load ui %}
{% load help %}
{% load analytics %}
{% load humanize %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>{% block title %}MDID 3 {% block titledetail %}{% endblock %}{% endblock %}</title>
{% block stylesheets %}
    <link href="{% url static 'css/master.css' %}" rel="stylesheet" type="text/css" media="screen">
<!--[if IE]>
    <link href="{% url static 'css/master-ie.css' %}" rel="stylesheet" type="text/css" media="screen">
<![endif]-->
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% url static 'jquery/jquery-1.3.2.min.js' %}"></script>
    <script type="text/javascript" src="{% url static 'jquery/jquery-ui-1.7.2.custom.min.js' %}"></script>
    <script type="text/javascript" src="{% url static 'jquery/jquery.cookie.js' %}"></script>
    <script type="text/javascript" src="{% url static 'jquery/jquery.hoverIntent.minified.js' %}"></script>
    <script type="text/javascript" src="{% url static 'jquery/jquery.ajaxmanager.js' %}"></script>
    <script type="text/javascript">
        var ajaxManager = $.manageAjax.create('cacheQueue', { queue: true });
    </script>
    <script type="text/javascript" src="{% url static 'scripts/ui-scripts.js' %}"></script>
    <!--<script type="text/javascript" src="{% url static 'scripts/related-images-bar.js' %}"></script>-->
    <!--<script type="text/javascript" src="/jsi18n/"></script>-->
    <script type="text/javascript">
        function recordSelection(ids, checked) {
            var method = ids == 0 ? 'GET' : 'POST';
            if (!ids.length) ids = [ids];
            ajaxManager.add({
                type: method,
                url: '/ui/api/select-record/',
                data: {'id': ids, 'checked': checked},
                dataType: 'json',
                success: function(r) { $("#session-status").html(r.status); }
            });
        }

        function bindSelectRecordCheckboxes() {
            $(".record-select").click(function() { recordSelection($(this).attr('value'), $(this).attr('checked')); });
        }

        function process_facets() {
            $(".facet-body").each(function(i, facet) {
                function sortByFreq(a, b) {
                    var fa = $(".facet-freq", a).text().replace(/,/, "");
                    var fb = $(".facet-freq", b).text().replace(/,/, "");
                    fa = fa ? parseInt(fa) : 0;
                    fb = fb ? parseInt(fb) : 0;
                    return ((fa < fb) ? -1 : ((fa > fb) ? 1 : 0));
                }
                var terms = jQuery.makeArray($(".facet-line", facet)).sort(sortByFreq).reverse().slice(10);
                if (terms.length)
                {
                    $(terms).hide();
                    $(".facet-more", facet).click(function() { $(this).hide(); $(terms).show(); return false; }).show();
                }
            });
            
            $(".facet-header.collapsed").click(function() {
                $(this).next().toggle('fast');
                return false;
            }).css('cursor', 'pointer').next().hide();
            
            $(".facet-line").hover(function() { $(this).find(".facet-exclude").show(); },
                                   function() { $(this).find(".facet-exclude").hide(); }).
                             find(".facet-exclude").hide();
        };

        $(document).ready(function() {
            bindSelectRecordCheckboxes();
            $("#quicksearch").hint();
//            recordSelection(0, false);
            $("#javascriptwarning").hide();
            var timeouts = Object();
            var resetwidth = function() { $(this).width($(this).parent().width() + 30); };
            $("#header ul li").addClass("js-enabled");
            $("#header ul.menu").addClass("js-enabled").each(resetwidth).hide();
            $("#header>ul>li:has(ul)").mouseenter(function() {
                clearTimeout(timeouts[$(this)]);
                $("#header>ul>li").not($(this)).removeClass("selected").children("ul").stop().attr("style", "").hide().each(resetwidth);
                if (!($(this).hasClass("selected"))) $(this).addClass("selected").children("ul").slideDown(200);
            }).mouseleave(function() {
                var lthis = $(this);
                timeouts[lthis] = setTimeout(function() { lthis.removeClass("selected").children("ul").hide(); }, 1000);
            });
            $("#header .search form").hide();
            $("#header .search span").show().mouseenter(function() {
                $("#header .search span").hide();
                $("#header .search form").show();
            });

            var baskettimeout;            
            function hideBasket() {
                clearTimeout(baskettimeout);
                baskettimeout = setTimeout(function() {
                    $("#basket-content").animate({ bottom: -60 },500);
                    $("#basket-tab").animate({ bottom: 0 }, 500);
                    }, 500);
            }
            function showBasket() {
                clearTimeout(baskettimeout);
                $("#basket-content").animate({ bottom: 0 }, 500);
                $("#basket-tab").animate({ bottom: 60 }, 500);
            }
            $("#basket-tab, #basket-content").hover(showBasket, hideBasket);
            hideBasket();
        });
    </script>
{% endblock %}
</head>

<body class="ui-reset master">
{% block header %}

    <div id="topmenu">
        <ul>
            {% if user.is_authenticated %}
            <li>Welcome{% if user.first_name %}, {{ user.first_name }}{% endif %}</li>
            <li><a href="{% url logout %}">Log out</a></li>
            <li><a href=".">Options</a></li>
            {% if user.is_staff %}
            <li><a href="{% url admin "" %}">Administration</a></li>
            {% endif %}
            {% else %}
            <li><a href="{% url login %}?next={{ request.get_full_path }}">Log in</a></li>
            {% endif %}
            <li>{% block help %}{% pagehelp 'main' %}{% endblock %}</li>
        </ul>
        <span id="javascriptwarning">You have JavaScript disabled.  MDID works better with JavaScript enabled.</span>
    </div>    
    
    <div id="header-bar">
        <div class="spacer">
            <div id="header">
                <a href="{% url main %}" id="logo"></a>
                <div id="branding"></div>
                <ul>
                    <li><a href="{% url solr-search %}">Discover</a>
                        <ul class="menu">
                            <li><a href="{% url solr-search %}">Explore</a></li>
                            <li><a href="{% url solr-searchform %}">Search</a></li>
                            <li><a href="{% url solr-browse %}">Browse</a></li>
                            <li><a href="{% url solr-overview %}">Overview</a></li>
                        </ul>
                    </li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url presentation-manage %}">Organize</a>
                        <ul class="menu">
                            <li><a href="{% url presentation-manage %}">Presentations</a></li>
                            <li><a href="{% url solr-search %}?c=ownedtag:{{ user.id }}-favorite">Favorites</a></li>
                            <li><a href="{% url solr-search %}?c=owner:{{ user.id }}">Content</a></li>
                        </ul>
                    </li>
                    {% endif %}
                    <li><a href="{% url presentation-browse %}">Experience</a>
                        <ul class="menu">
                            <li><a href="{% url presentation-browse %}">Browse Presentations</a></li>
                            <li><a href="{% url showcases %}">Showcases</a></li>
                            <li><a href="{% url about %}">About</a></li>
                        </ul>
                    </li>
                    <li class="search"><span style="display: none;">Search</span>
                        <form method="GET" action="{% url solr-search %}">
                            <input id="quicksearch" name="kw" type="text" title="Search" /><input type="image" src="{% url static 'images/go.png' %}" />
                        </form>
                    </li>
                </ul>
            </div>
        </div>        
    </div>

<!--

{% if messages %}
<div id="messages">
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
</div>
{% endif %}

-->

{% endblock %}





{% block raw-content %}
    <div id="content-wrapper">        
        <div id="content">
{% block content %}
{% endblock %}

{% block footer %}
            <div id="footer">
                Copyright 1997-2010 James Madison University
            </div>
{% endblock %}

        </div>
    </div>
{% endblock %}

{% block basket %}
<div id="basket-content"></div>
<div id="basket-tab">0 Items Selected</div>
{% endblock %}

<!--
<div style="display: none;">
    <div id="selected-records" class="menu">
        <div><input type="button" id="selected-records-deselect-all" value="Deselect all records" /></div>
        <div><input type="button" id="selected-records-export-flickr" value="Export to Flickr" /></div>
    </div>
</div>

<div id="related-images-bar" style="display: none;">
    <div id="related-images-bar-toggle">
        <div id="related-images-bar-hide" style="float: right;"></div>
        <span id="related-images-bar-hint"></span>
        <span id="related-images-bar-all" style="margin-left: 20px; "></span>
    </div>
    <div id="related-images-bar-content"></div>
</div>
<div id="related-images-bar-placeholder" style="visibility: hidden;"></div>
-->

{% analytics %}

{% if debug %}<!--
{{ sql_queries|length }} queries:
{% for q in sql_queries %}
{{ q.sql }} ({{ q.time }})
{% endfor %}
-->
<div id="stats"><!-- STATS: Total: %(totTime).2fs <br/>Python: %(pyTime).2fs <br/>DB: %(dbTime).2fs <br/>Queries: %(queries)d --></div>
{% endif %}

</body>

</html>
