{% load ui %}
{% load help %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>{% block title %}Rooibos {% block titledetail %}{% endblock %}{% endblock %}</title>
{% block stylesheets %}
    <link href="/static/jquery/jquery-ui-themeroller.css" rel="stylesheet" type="text/css" media="screen">
    <link href="/static/css/master.css" rel="stylesheet" type="text/css" media="screen">
<!--[if IE]>
    <link href="/static/css/master-ie.css" rel="stylesheet" type="text/css" media="screen">
<![endif]-->

{% endblock %}
{% block extrastylesheets %}
{% endblock %}

{% block javascript %}
    <!--<script type="text/javascript" src="/jsi18n/"></script>-->
{% endblock %}
{% block jquery %}
    <script type="text/javascript" src="/static/jquery/jquery-1.2.6.min.js"></script>
    <script type="text/javascript" src="/static/jquery/jquery-ui-personalized-1.5.2.min.js"></script>
    <script type="text/javascript" src="/static/jquery/jquery.cookie.js"></script>
{% endblock %}
{% block extrajavascript %}
{% endblock %}
</head>

<body class="ui-reset">
{% block header %}
<div id="header">
    <h1><a href="/">Rooibos</a></h1>
    <ul id="menu">
        {% if user.is_authenticated %}
            <li>Welcome, {{ user.first_name }}</li>
            <li><a href=".">My Content</a>
                <div class="dropdown">
                    <div>
                        <a href=".">My Presentations</a>
                        <a href=".">My Favorites</a>
                        <a href=".">My Content</a>
                        <a href=".">Options</a>
                    </div>
                </div>
            </li>
            {% if user.is_staff %}
                <li><a href="{% url admin "" %}">Administration</a></li>
            {% endif %}
        {% else %}
            <li><a href="{% url login %}">Log in</a></li>
        {% endif %}        
        <li><a href="{% url solr-search %}">Explore</a></li>
        <li><a href=".">Resources</a>
            <div class="dropdown">                
                <div>
                    <a href=".">Presentations</a>
                    <a href=".">Collections</a>
                    <a href=".">About</a>
                </div>
            </div>
        </li>
        <li>{% session_status %}</li>
        {% if user.is_authenticated %}
        <li><a href="{% url logout %}">Log out</a></li>
        {% endif %}
        <li>{% block help %}{% pagehelp 'main' %}{% endblock %}</li>
    </ul>    
</div>
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
<div id="footer">
    Copyright 1997-2009
</div>
{% endblock %}

{% if debug %}<!--
{{ sql_queries|length }} queries:
{% for q in sql_queries %}
{{ q.sql }} ({{ q.time }})
{% endfor %}
-->
<div id="stats"><!-- STATS: Total: %(totTime).2fs <br/>Python: %(pyTime).2fs <br/>DB: %(dbTime).2fs <br/>Queries: %(queries)d --></div>
{% endif %}

</body>

</html>
