{% load ui %}
{% load help %}
{% load analytics %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>{% block title %}MDID 3 {% block titledetail %}{% endblock %}{% endblock %}</title>
{% block stylesheets %}
    <link href="/static/jquery/jquery-ui-themeroller.css" rel="stylesheet" type="text/css" media="screen">
    <link href="/static/css/master.css" rel="stylesheet" type="text/css" media="screen">
<!--[if IE]>
    <link href="/static/css/master-ie.css" rel="stylesheet" type="text/css" media="screen">
<![endif]-->
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="/static/jquery/jquery-1.2.6.min.js"></script>
    <script type="text/javascript" src="/static/jquery/jquery-ui-personalized-1.5.2.min.js"></script>
    <script type="text/javascript" src="/static/jquery/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/jquery/jquery.hoverIntent.minified.js"></script>
    <script type="text/javascript" src="/static/jquery/jquery.ajaxQueue.js"></script>
    <script type="text/javascript" src="/static/scripts/selected-records.js"></script>
    <script type="text/javascript" src="/static/scripts/related-images-bar.js"></script>
    <script type="text/javascript" src="/static/scripts/ui-scripts.js"></script>
    <!--<script type="text/javascript" src="/jsi18n/"></script>-->        
    <script type="text/javascript">
        $(document).ready(function() {
            $("#menu .dropdown").css({
                'overflow': 'visible',
                'display': 'none',
                'top': '1.8em',
                'padding-top': '0px'
            });
            $(".hover-menu").hoverIntent({
                sensitivity: 1,
                interval: 50,
                over: function() { $(this).children(".dropdown").slideDown(); },
                timeout: 500,
                out: function() { $(this).children(".dropdown").slideUp(); },
            });
            updateSelectedRecords();
        });
    </script>
{% endblock %}
</head>

<body class="ui-reset">
{% block header %}
<div id="header">
    <h1><a href="/">MDID 3</a></h1>
    <ul id="menu">
        {% if user.is_authenticated %}
            <li><span class="nolink">Welcome, {{ user.first_name }}</span></li>
            <li class="hover-menu"><a href=".">My Content</a>
                <div class="dropdown">
                    <div class="menu">
                        <a href="{% url presentation-manage %}">My Presentations</a>
                        <a href=".">My Favorites</a>
                        <a href=".">My Content</a>
                        <a href=".">Options</a>
                    </div>
                </div>
            </li>
            {% if user.is_staff %}
                <li><a href="{% url admin "" %}">Administration</a></li>
            {% endif %}
        {% else %}
            <li><a href="{% url login %}">Log in</a></li>
        {% endif %}        
        <li class="hover-menu"><a href="{% url solr-search %}">Explore</a>
            <div class="dropdown">                
                <div class="menu">
                    <a href="{% url solr-browse %}">Browse</a>
                    <a href="{% url solr-overview %}">Collection Overview</a>
                </div>
            </div>
        </li>
        <li class="hover-menu"><a href=".">Resources</a>
            <div class="dropdown">                
                <div class="menu">
                    <a href=".">Presentations</a>
                    <a href=".">Collections</a>
                    <a href="{% url about %}">About</a>
                </div>
            </div>
        </li>
        <li class="hover-menu" id="selected-records-menu"><span id="session-status">{% session_status %}</span></li>
        {% if user.is_authenticated %}
        <li><a href="{% url logout %}">Log out</a></li>
        {% endif %}
        <li>{% block help %}{% pagehelp 'main' %}{% endblock %}</li>
    </ul>    
</div>
{% if messages %}
<div id="messages">
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
</div>
{% endif %}

{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
<div id="footer">
    Copyright 1997-2009 James Madison University
</div>
{% endblock %}

<div style="display: none;">    
    <div id="selected-records" class="menu">
        <div><input type="button" id="selected-records-deselect-all" value="Deselect all records" /></div>
    </div>
</div>

<div id="related-images-bar" style="display: none;">
    <div id="related-images-bar-toggle">
        <div id="related-images-bar-hide" style="float: right;"></div>
        <span id="related-images-bar-hint"></span>
        <span id="related-images-bar-all" style="margin-left: 20px; "></span>
    </div>
    <div id="related-images-bar-content"></div>
</div>
<div id="related-images-bar-placeholder" style="visibility: hidden;"></div>

{% analytics %}

{% if debug %}<!--
{{ sql_queries|length }} queries:
{% for q in sql_queries %}
{{ q.sql }} ({{ q.time }})
{% endfor %}
-->
<div id="stats"><!-- STATS: Total: %(totTime).2fs <br/>Python: %(pyTime).2fs <br/>DB: %(dbTime).2fs <br/>Queries: %(queries)d --></div>
{% endif %}
</body>

</html>
