{% extends "master.html" %}
{% load help %}
{% load comments %}
{% load humanize %}
{% load smart_if %}
{% load flickr_ui %}

{% block content %}

<script type="text/javascript" src="/static/scripts/selected-flickr.js"></script>

<div class="horizontal-block">
    Your query found {{ results.total }} hit(s).
    Page {{ results.page }} of {{ results.pages }}.
    {% if results.page > 1 %}<a href="javascript:;" onclick="paginate(-1)">Previous</a>{% endif %}
    {% if results.page < results.pages %}<a href="javascript:;"  onclick="paginate(1)">Next</a>{% endif %}
    
    <a href="{% url solr-search %}">Reset</a>
    <input id="submit_flickr_selections" type="submit" name="action" value="Select" />
    <input id="submit_flickr_deselections" type="submit" name="action" value="Deselect" />
</div>

<div class="horizontal-block">
    <form action="{% url artstor-photo-search %}" method="post">
        Keywords: <input name="search_string" type="text_field" value="{{ search_string }}" />
        <input type="submit" value="Go" />
        View:
        <select name="view" id="view_dropdown" onchange="pagination.view.value = this[this.selectedIndex].value; paginate(0)">
            <option value="thumb"{% ifequal view "thumb" %} selected="selected"{% endifequal %}>Thumbnails</option>
            <option value="list"{% ifequal view "list" %} selected="selected"{% endifequal %}>List</option>
        </select>
    </form>

</div>

<div class="facet" style="width:250px;float:right">
        <div class="facet-header">Selected Images</div>
        <div class="facet-body" id="selected-flickrs">
        </div>
</div>

<div id="progressbar-dialog">
	<p>Please wait while image(s)<br/>are imported from flickr.</p>
	<img src="/static/images/progress-bar.gif" width="230" height="25" />
</div>

{% if results.photos %}
<div class="resultlist">
{% for photo in results.photos %}
    {% photo photo 'selectable' view %}
{% endfor %}
</div>
{% endif %}

<form name="pagination" action="{% url artstor-photo-search %}" method="post">
    <input name="search_string" type="hidden" value="{{ search_string }}"/>
    <input name="search_page" type="hidden" value="{{ search_page }}"/>
    <input name="view" type="hidden" value="{{ view }}"/>
</form>

<script>
	$(document).ready(function(){
		$("#progressbar-dialog").dialog({ title: 'Please Wait...', autoOpen: false, draggable: false, modal: true, resizable: false });
	});
    function paginate(increment) {
        document.pagination.search_page.value = parseInt(document.pagination.search_page.value)+increment;
        document.pagination.submit();
    }
</script>

{% endblock %}