{% extends request.master_template|default:"master.html" %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript" src="{% url static 'flowplayer/flowplayer-3.2.4.min.js' %}"></script>

<script type="text/javascript">
$(document).ready(function() {

    $("#play_button").hide();
    $("#video_list").change(function() {
        $("#video_form").submit();
    });

    var url = "{{ selectedmedia.get_delivery_url }}";
    var clip;
    if (url.match(/^rtmp:/)) {
        url = url.split("/mp4:");
        clip = {
            clip: {
                url: "mp4:" + url[1],
                provider: 'influxis',
                scaling: 'fit'
            },
            plugins: {
                influxis: {
                    url: "{% url static 'flowplayer/flowplayer.rtmp-3.2.3.swf' %}",
                    netConnectionUrl: url[0]
                }
            }
        };
    } else {
        clip = {
            clip: {
                url: url,
                scaling: 'fit'
            }
        };
    }
    flowplayer("player", "{% url static 'flowplayer/flowplayer-3.2.4.swf' %}", clip);
});
</script>
{% endblock %}


{% block sidebar %}
{{ block.super }}

{% if next %}
<div class="facet active-facet" id="data_record_thumbnail">
    <div class="facet-header">Record</div>
    <div class="facet-body">
        <a href="{{ record.get_absolute_url }}">Go to record</a><br />
        <a href="{{ next }}">Return to previous page</a>
    </div>
</div>
{% endif %}

{% endblock %}


{% block content %}

<h1>{{ record.title }}</h1>

{% if media.1 %}
Multiple videos available:
<form method="get" action=".?next={{ next|urlencode }}" id="video_form">
    <select name="video" id="video_list">
        {% for m in media %}
        <option value="{{ forloop.counter0 }}"{% ifequal selectedmedia m %} selected="selected"{% endifequal %}>
            Video {{ forloop.counter }}:
            {% if m.width and m.height %}{{ m.width }}x{{ m.height }}{% endif %}
            {% if m.bitrate %}at {{ m.bitrate }} kbps{% endif %}
            in {{ m.storage.title }}
        </option>
        {% endfor %}
    </select>
    <input type="submit" value="Play" id="play_button" />
</form>
{% endif %}

<a href="{{ selectedmedia.get_delivery_url }}" id="player"
style="margin: 40px auto; display:block; width:{{ selectedmedia.width|default:"520" }}px; height:{{ selectedmedia.height|default:"330" }}px"></a>

{% endblock %}
