{% extends request.master_template|default:"master.html" %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript" src="{% url static 'flowplayer/flowplayer-3.2.0.min.js' %}"></script>

<script type="text/javascript">
$(document).ready(function() {
    flowplayer("player", "{% url static 'flowplayer/flowplayer-3.2.0.swf' %}");
});
</script>
{% endblock %}


{% block sidebar %}
{{ block.super }}

{% if next %}
<div class="facet active-facet" id="data_record_thumbnail">
    <div class="facet-header">Record</div>
    <div class="facet-body">
        <a href="{{ next }}">Return to record</a>
    </div>
</div>
{% endif %}

{% endblock %}


{% block content %}

<h1>{{ record.title }}</h1>


<a href="{{ media.get_delivery_url }}" id="player"
style="margin-top: 70px;display:block; width:{{ media.width|default:"520" }}px; height:{{ media.height|default:"330" }}px"></a>

{% endblock %}
