{% extends "master.html" %}
{% load ui %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript" src="{% url static "swfupload/swfupload.js" %}"></script>
<script type="text/javascript" src="{% url static "swfupload/plugins/swfupload.cookies.js" %}"></script> 
<script type="text/javascript" src="{% url static "jquery/jquery.swfupload.js" %}"></script> 
<script type="text/javascript">

$(document).ready(function() {
    $("#html-upload-control").hide();
    $('#upload-control').swfupload({
		upload_url: "{{ request.get_full_path }}",
		file_size_limit : "512000",
		file_types : "*.*",
		file_types_description : "All Files",
		file_upload_limit : "0",
                file_post_name: "{{ form.file.name }}",
		flash_url : "{% url static "swfupload/Flash/swfupload.swf" %}",
		button_image_url : '{% url static "images/XPButtonUploadText_61x22.png" %}',
		button_width : 61,
		button_height : 22,
		button_placeholder : $('#upload-button')[0],
		debug: false,
		post_params : {swfupload : "true"}
	})
		.bind('swfuploadLoaded', function(event){
			$('#log').append('<li>Loaded</li>');
		})
		.bind('fileQueued', function(event, file){
			$('#log').append('<li>File queued - '+file.name+'</li>');
                        var div = $("<div id='upload-queue-" + file.id + "' class='file'>Uploading " + file.name + "</div>");
                        $('#upload-queue').append(div);
			// start the upload since it's queued
			$(this).swfupload('startUpload');
		})
		.bind('fileQueueError', function(event, file, errorCode, message){
			$('#log').append('<li>File queue error - '+message+'</li>');
		})
		.bind('fileDialogStart', function(event){
			$('#log').append('<li>File dialog start</li>');
		})
		.bind('fileDialogComplete', function(event, numFilesSelected, numFilesQueued){
			$('#log').append('<li>File dialog complete</li>');
		})
		.bind('uploadStart', function(event, file){
                        $(this).swfupload('removePostParam', 'storage');
                        $(this).swfupload('addPostParam', 'storage', $("#{{ form.storage.auto_id }}").val());
                    
                        $('#upload-progress').remove();
                        $('#upload-queue-' + file.id).after($("<div id='upload-progress'><div></div></div>"));
                    
			$('#log').append('<li>Upload start - '+file.name+'</li>');
		})
		.bind('uploadProgress', function(event, file, bytesLoaded){
			$('#log').append('<li>Upload progress - '+bytesLoaded+'</li>');
                        
                        if (file.size > 0) {
                            var w = parseInt(200 * bytesLoaded / file.size);
                            $('#upload-progress').css('width', w + 'px')
                                                 .css('padding-right', (202 - w) + 'px');
                        }
		})
		.bind('uploadSuccess', function(event, file, serverData){
			$('#log').append('<li>Upload success - '+file.name+'</li>');
		})
		.bind('uploadComplete', function(event, file){
			$('#log').append('<li>Upload complete - '+file.name+'</li>');
                        
                        $('#upload-progress').replaceWith('<div class="upload-complete">Complete</div>');
                        
			// upload has completed, lets try the next one in the queue
			$(this).swfupload('startUpload');
		})
		.bind('uploadError', function(event, file, errorCode, message){
			$('#log').append('<li>Upload error - '+message+'</li>');
                        
                        $('#upload-progress').replaceWith('<div class="upload-failed">Error</div>');
		});

});

</script>
{% endblock %}

{% block content %}

<h2>Upload Media</h2>

<form method="post" action="{{ request.get_full_path }}" enctype="multipart/form-data" id="upload-control">
    {{ form.storage.label }} {{ form.storage }}<br />
    <span id="html-upload-control">{{ form.file.label }} {{ form.file }}<br /></span>
    <br /><input type="submit" value="Upload Media" id="upload-button" />
</form>

<div id="upload-queue"></div>

{% if debug %}
<ol id="log" style="display: none; clear: both; border: thin solid lightgrey; overflow: auto; max-height: 200px; margin-top: 20px;"></ol>
{% endif %}

{% endblock %}