{% extends "master.html" %}
{% load ui %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">
function update_form_parameters(control) {
	control.swfupload('removePostParam', '{{ upload_form.collection.name }}');
	control.swfupload('removePostParam', '{{ upload_form.storage.name }}');
	control.swfupload('removePostParam', '{{ upload_form.create_records.name }}');
	control.swfupload('removePostParam', '{{ upload_form.personal_records.name }}');
	control.swfupload('removePostParam', '{{ upload_form.replace_files.name }}');
	control.swfupload('addPostParam', '{{ upload_form.collection.name }}', $("#{{ upload_form.collection.auto_id }}").val());
	control.swfupload('addPostParam', '{{ upload_form.storage.name }}', $("#{{ upload_form.storage.auto_id }}").val());
	control.swfupload('addPostParam', '{{ upload_form.create_records.name }}', $("#{{ upload_form.create_records.auto_id }}").attr("checked") ? "on" : "");
	control.swfupload('addPostParam', '{{ upload_form.personal_records.name }}', $("#{{ upload_form.personal_records.auto_id }}").attr("checked") ? "on" : "");
	control.swfupload('addPostParam', '{{ upload_form.replace_files.name }}', $("#{{ upload_form.replace_files.auto_id }}").attr("checked") ? "on" : "");
	var limit = $("#{{ upload_form.storage.auto_id }}").val().split(',')[1];
	control.swfupload('setFileSizeLimit', limit);
}

</script>

{% include "storage_upload_js.html" %}

{% endblock %}


{% block content %}

<h2>Import Media Files</h2>

<form method="post" action="{{ request.get_full_path }}" enctype="multipart/form-data" id="upload-control">
<table>
	<tr>
		<th>{{ upload_form.collection.label }}
		</th>
		<td>{{ upload_form.collection }}<br />
	* You may add regular records to this collection
		</td>
	</tr>
	<tr>
		<th>{{ upload_form.storage.label }}
		</th>
		<td>{{ upload_form.storage }}
		</td>
	</tr>
	<tr>
		<th>{{ upload_form.create_records.label }}
		</th>
		<td>{{ upload_form.create_records }}
		</td>
	</tr>
	<tr>
		<th>{{ upload_form.personal_records.label }}
		</th>
		<td>{{ upload_form.personal_records }}
		</td>
	</tr>
	<tr>
		<th>{{ upload_form.replace_files.label }}
		</th>
		<td>{{ upload_form.replace_files }}
		</td>
	</tr>
</table>
<span id="html-upload-control">{{ upload_form.file.label }} {{ upload_form.file }}<br /></span>
<input type="submit" value="Upload Media" id="upload-button" />
</form>

<div id="upload-queue"></div>

{% if debug %}
<ol id="log" style="display: none; clear: both; border: thin solid lightgrey; overflow: auto; max-height: 200px; margin-top: 20px;"></ol>
{% endif %}

{% endblock %}
