{% extends "master.html" %}
{% load humanize %}
{% load access_control %}
{% load ui %}


{% block javascript %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(function() {
        $("#delete-storage").click(function(event) {
            if (!confirm("Are you sure you want to delete this storage?"))
                event.preventDefault();
        });
    });
</script>
{% endblock %}

{% block sidebar %}
{% var as related_pages %}
{"pages": [
    {"url": "{% url ui-management %}", "title": "Management"},
    {"url": "{% url storage-manage %}", "title": "Storage Management"}
]}
{% endvar %}

{{ block.super }}

{% if storage.id %}

  <div class="facet active-facet" id="storage_sidebar_statistics">
    <div class="facet-header">Statistics</div>
    <div class="facet-body">
        {% with storage.media_set.count as c %}
        {{ c|intcomma }} media entr{{ c|pluralize:"y,ies" }}
        {% endwith %}
    </div>
  </div>

{% if storage.derivative %}
  <div class="facet active-facet" id="storage_sidebar_derivative">
    <div class="facet-header">Derivative Storage</div>
    <div class="facet-body">
        <a href="{% url storage-manage-storage storage.derivative.id, storage.derivative.name %}">{{ storage.derivative.title }}</a>
    </div>
  </div>
{% endif %}

{% if storage.master %}
  <div class="facet active-facet" id="storage_sidebar_master">
    <div class="facet-header">Master Storage</div>
    <div class="facet-body">
        <a href="{% url storage-manage-storage storage.master.id, storage.master.name %}">{{ storage.master.title }}</a>
    </div>
  </div>
{% endif %}

  <div class="facet active-facet" id="storage_sidebar_permissions">
    <div class="facet-header">Permissions <a href="{% permissions_modify_url storage %}"><img src="{% url static 'images/edit.png' %}" class="facet-button" /></a></div>
    <div class="facet-body">
        {% permissions_display storage %}
    </div>
  </div>
  
  <div class="facet active-facet" id="storage_sidebar_effective_permissions">
    <div class="facet-header">Effective Permissions</div>
    <div class="facet-body">
        {% effective_permissions_form storage %}
    </div>
  </div>

{% if request.user.is_superuser %}
  <div class="facet active-facet" id="storage_sidebar_delete">
    <div class="facet-header">Delete Storage</div>
    <div class="facet-body">
        <form action="." method="POST">
        <input type="submit" value="Delete" name="delete-storage" id="delete-storage" />
        </form>
    </div>
  </div>
{% endif %}


{% endif %}

{% endblock %}


{% block content %}

<h1>Edit Storage</h1>

<h2>{{ storage.title }}</h2>

<form action="." method="POST">
    
<table>
    {{ form }}
    <tr>
      <td>
      </td>
      <td>
        <input type="Submit" value="Submit changes" /> <a href="{% url storage-manage %}">Cancel</a>
      </td>
    </tr>
</table>

</form>

{% endblock %}