{% extends "master.html" %}

{% block javascript %}
{{ block.super }}
<script type='text/javascript'>
    $(document).ready(function() {
	// remind user if they close without saving
	var unsaved_changes = false;
	$('form').submit(function() {
	    unsaved_changes = false;
	    // note, don't need to unbold submit button - submission reloads the page
	});
	$('form').keypress(function() {
	    unsaved_changes = true;
	    $('#submit_button').css('font-weight', 'bolder');
	});
	

	$(window).bind('beforeunload', function() {
	    if (unsaved_changes)
		return 'Contining will abandon this presentation';
	});
    });
</script>

{% endblock %}
{% block content %}

<h1>Create new presentation</h1>

<form action="{% url presentation-create %}?next={{ next }}" method="POST" class="vertical">{% csrf_token %}

{{ form.title.label_tag }}
{{ form.title }}
{{ form.title.errors }}


<label>Tags</label>
<div class="custom-input">
{% with existing_tags as actionbar_tags %}
{% include 'ui_tag_editor.html' %}
{% endwith %}
</div>


{% if selected %}
    {{ form.add_selected.label_tag }}
    {{ form.add_selected }}
    {{ form.add_selected.errors }}
{% endif %}

{{ form.auth_access.label_tag }}
{{ form.auth_access }}
{{ form.auth_access.errors }}


<div class="row">
    <input type="submit" value="Create" id="submit_button"/>
    {% if next %}
    <a href="{{ next }}">Cancel</a>
    {% endif %}
</div>

</form>




{% endblock %}
