{% extends "master.html" %}
{% load ui %}
{% load humanize %}
{% load pagination_tags %}
{% load viewers %}


{% block raw-content %}
<form action="{{ request.get_full_url }}" method="POST">{% csrf_token %}
{{ block.super }}
</form>
{% endblock %}


{% block sidebar %}
{{ block.super }}

{% if presentations %}
  <div class="facet active-facet" id="presentations_sidebar_keywords">
    <div class="facet-header">Keywords</div>
    <div class="facet-body">
        <input type="text" id="keywords" name="kw" value="{{ keywords }}"/><input type="image" class="image" src="{% url static 'images/med_go_button.png' %}" value="Go" name="keywords_go" />
    </div>
  </div>
{% endif %}

{% var as refine %}
{ "url": "{{ request.path }}?{% if active_presenter %}presenter={{ active_presenter|urlencode }}&{% endif %}kw={{ keywords|urlencode }}&{% for t in active_tags %}t={{ t|urlencode }}&{% endfor %}" }
{% endvar %}

{% if active_presenter and not manage %}
  <div class="facet active-facet">
    <div class="facet-header"><a href="{% url presentation-browse %}?kw={{ keywords|urlencode }}&amp;t={{ active_tags|join:"||"|urlencode }}" title="Remove this criteria"><img src="{% url static 'images/facet_close.png' %}" alt="Remove" title="Remove" class="facet-close" /></a>Presenter</div>
    <div class="facet-body">{% if active_presenter.last_name %}{{ active_presenter.last_name }}, {{ active_presenter.first_name }}{% else %}{{ active_presenter.username }}{% endif %}</div>
  </div>
{% endif %}

{% for tag in active_tags %}
  <div class="facet active-facet">
    <div class="facet-header"><a href="{{ refine.url }}rt={{ tag|urlencode }}"  title="Remove this criteria"><img src="{% url static 'images/facet_close.png' %}" alt="Remove" title="Remove" class="facet-close" /></a>Tag</div>
    <div class="facet-body">{{ tag }}</div>
  </div>
{% endfor %}

{% if presenters %}
  <div class="facet" id="presentations_sidebar_presenters">
    <div class="facet-header">Presenters</div>
    <div class="facet-body">
    {% for presenter in presenters %}
        <div class="facet-line">
            <a href="{{ refine.url }}presenter={{ presenter.username|urlencode }}">{% if presenter.last_name %}{{ presenter.last_name }}, {{ presenter.first_name }}{% else %}{{ presenter.username }}{% endif %}</a>
            &nbsp;<span class="facet-freq">{{ presenter.presentations|intcomma  }}</span>
        </div>
    {% endfor %}
    <a class="facet-more" style="display: none;" href="#presenters">more...</a>
    </div>
  </div>
{% endif %}

{% if tags %}
  <div class="facet" id="presentations_sidebar_tags">
    <div class="facet-header">Tags</div>
    <div class="facet-body">
    {% for tag in tags %}
        <div class="facet-line">
            <a href="{{ refine.url }}t={{ tag|urlencode }}">{{ tag }}</a>
            {% if tag.count %}&nbsp;<span class="facet-freq">{{ tag.count|intcomma  }}</span>{% endif %}
        </div>
    {% endfor %}
    <a class="facet-more" style="display: none;" href="#tags">more...</a>
    </div>
  </div>
{% endif %}

{% if usertags %}
  <div class="facet" id="presentations_sidebar_your_tags">
    <div class="facet-header">Your Tags</div>
    <div class="facet-body">
    {% for tag in usertags %}
        <div class="facet-line">
            <a href="{{ refine.url }}t={{ tag|urlencode }}">{{ tag }}</a>
            {% if tag.count %}&nbsp;<span class="facet-freq">{{ tag.count|intcomma  }}</span>{% endif %}
        </div>
    {% endfor %}
    <a class="facet-more" style="display: none;" href="#tags">more...</a>
    </div>
  </div>
{% endif %}

<div style="text-align: center; margin-top: 20px;">
    <a href="{{ request.path }}">Reset Search</a>
</div>

{% endblock %}



{% block content-top %}

{% autopaginate presentations 25 %}

<h1>{{ manage|yesno:"Manage,Browse" }} Presentations</h1>


<ul id="actionbar">

{% if manage %}
<li><a href="{% url presentation-create %}?next={% url presentation-manage %}">Create new presentation</a></li>
{% endif %}

{% with usertags as actionbar_tags %}
{% include 'ui_actionbar_tag_dropdown.html' %}
{% endwith %}

{% if manage %}
{% if perms.presentation.publish_presentations %}
<li><input type="submit" name="hide" value="Hide" /></li>
<li><input type="submit" name="unhide" value="Show" /></li>
{% endif %}
<li><input type="submit" id="delete" name="delete" value="Delete" /></li>
{% endif %}


<li class="pagination">&nbsp;{% paginate %}</li>

</ul>

<br style="clear: left;" />


{% endblock %}



{% block content %}

{% autopaginate presentations 25 %}

{% if presentations %}

<table summary="List of Presentations" class="itemactions">
    <tr>
        <th></th>
        <th>Title</th>
        {% if manage %}
        {% if perms.presentation.publish_presentations %}
        <th>Hidden</th>
        {% endif %}
        <th>Created</th>
        <th>Modified</th>
        {% else %}
        <th>Presenter</th>
        {% endif %}
        <th>Tags</th>
        <th>Items</th>
        <th></th>
        <th></th>
    </tr>
{% for presentation in presentations %}
    {% owned_tags_for_object presentation for request.user as ptags %}
    {% owned_tags_for_object presentation for presentation.owner as otags %}
    <tr>
        <td><input type="checkbox" name="h" value="{{ presentation.id }}" /></td>
        <td>
            {% if manage %}
            <a href="{% url presentation-edit presentation.id, presentation.name %}">{{ presentation.title }}</a>
            {% else %}
            {{ presentation.title }}
            {% endif %}
        </td>
        {% if manage %}
        {% if perms.presentation.publish_presentations %}
        <td>{{ presentation.hidden|yesno:"hidden,-" }}</td>
        {% endif %}
        <td>{{ presentation.created|naturalday:"M j, Y" }}</td>
        <td>{{ presentation.modified|naturalday:"M j, Y" }}</td>
        {% else %}
        <td>{% if presentation.owner.last_name %}{{ presentation.owner.last_name }}, {{ presentation.owner.first_name }}{% else %}{{ presentation.owner.username }}{% endif %}</td>
        {% endif %}
        <td>{% for ptag in ptags %}
                {% tag ptag presentation "True" %}
            {% endfor %}
            {% if not manage %}
            {% for otag in otags %}
                {% tag otag presentation 0 'secondary' %}
            {% endfor %}
            {% endif %}
        </td>
        <td>{% with presentation.hidden_item_count as h %}
          {{ presentation.visible_item_count }}{% if h %}&nbsp;(+{{h}}){% endif %}
          {% endwith %}
        </td>
        <td>{% if presentation.password %}
                {% if presentation.unlocked %}
                <img src="{% url static "images/unlocked.png" %}" />
                {% else %}
                <img src="{% url static "images/locked.png" %}" />
                {% endif %}
            {% endif %}
        </td>
        <td class="item-actions">
            {% if manage %}
            <input type="submit" name="add-selected-items-{{ presentation.id }}" value="Add selected items" />, 
            {% endif %}
            {% if not presentation.password or presentation.unlocked %}
            {% list_viewers presentation request.get_full_path %}
            {% else %}
            <a href="{% url presentation-password presentation.id, presentation.name %}?next={{ request.get_full_path|urlencode }}">Unlock</a>
            {% endif %}
        </td>
    </tr>
{% endfor %}
</table>


{% else %}
No presentations available.
{% endif %}


{% endblock %}
