{% extends "master.html" %}
{% load ui %}
{% load access_control %}
{% load viewers %}



{% block stylesheets %}
{{ block.super }}
<style type="text/css">

html.js-enabled #items {
    display: none;
}

#lighttable {
    border: solid 2px lightgrey;
    padding: 5px;
    overflow: scroll;
    user-select: none; /* CSS3 */
    -moz-user-select: none; /* Gecko (Firefox) */
    -khtml-user-select:none; /* Webkit (Safari, Chrome) */
}

#lighttable div.slide, .lighttable-placeholder {
    float: left;
    margin: 5px;
    background-color: lightgrey;
    padding: 8px;
    -moz-border-radius: 3px;
    width: 100px;
    height: 115px;
}

.lighttable-placeholder {
    background-color: {{ PRIMARY_COLOR }};
}

#lighttable div.slide.selected {
    background-color: {{ PRIMARY_COLOR }};
}

#lighttable div.slide.hidden div.title {
    font-style: italic;
}

#lighttable div.slide.hidden div.title:before {
    content: "[Hidden] ";
}

#lighttable div.slide.hidden img {
    filter: alpha(opacity=30);
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
	opacity: 0.3;
}

#lighttable div.slide div.title {
    font-size: xx-small;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
}

#lighttable-annotation {
    border: solid 2px lightgrey;
    border-top: none;
    padding: 5px;
}

#lighttable-annotation textarea {
    height: 40px;
    width: 600px;
    vertical-align: top;
}

td.annotation-col textarea {
    height: 30px;
    width: 200px;
}

</style>
{% endblock %}




{% block javascript %}
{{ block.super }}
<script type="text/javascript">

    $(document).ready(function() {

		var unsaved_changes = false;
		$(window).bind('beforeunload', function() {
			if (unsaved_changes)
				return 'You have unsaved changes in your presentation that will be lost if you continue.';
		});


        $("#items tbody tr").each(function(i, e) {
            var inputs = $(".thumbnail-col", e).children().not('a');
            var thumbnail = $(".thumbnail-col a", e).children();
            var title = $("<div class='title'>").html($(".title-col", e).html());
            var order = $(".order-col", e).children().hide();
            var controls = $(".controls", e).children().hide();
            var annotation = $(".annotation-col", e).children().hide();
            $("#lighttable").append($("<div class='slide' id='slide" + i + "'>").append(inputs, thumbnail, title, order, annotation, controls));
        });

        $("#lighttable-buttons").show().children("button").attr('disabled', true);

        $("#duplicate-button").click(function(e) {
            var selected_items = $("#lighttable div.slide.selected");
            var insert_after = selected_items.last();
            selected_items.each(function(i, e) {
                var idx = parseInt($("#id_form-TOTAL_FORMS").val());
                $("#id_form-TOTAL_FORMS").val(idx + 1);
                var copy = $(e).clone();
                copy.attr('id', 'slide' + idx).removeClass('selected');
                $("input,textarea", copy).each(function(i, e) {
                    var input = $(e);
                    var name = input.attr('name', input.attr('name').replace(/[0-9]+/, idx)).attr('id', 'id_' + input.attr('name')).attr('name');
                    if (name.match(/-id$/)) input.val('');
                });
                insert_after.after(copy);
                insert_after = copy;
            });
            $(".orderinput input").each(function(i, e) { $(e).val(i); });
            e.preventDefault();
            add_metadata_popup($("#lighttable"));
			unsaved_changes = true;
        });

        $("#delete-button").click(function(e) {
            $("#lighttable div.slide.selected").each(function(i, e) {
                $(e).removeClass('selected').hide(200);
                $("input[id$=DELETE]", e).attr('checked', true);
            });
            $("#lighttable-buttons button").attr('disabled', true);
            e.preventDefault();
			unsaved_changes = true;
        });

		$("#select-button").click(function(e) {
			var ids = [];
            $("#lighttable div.slide.selected").each(function(i, e) {
				ids.push($("input[name$=-record]", e).val());
            });
			recordSelection(ids, true);
            e.preventDefault();
        });

        function markHidden() {
            $("#lighttable div.slide").removeClass('hidden').has("input[id$=hidden]:checked").addClass('hidden');
        }
        markHidden();

        function showHide(hide) {
            $("#lighttable div.slide.selected").each(function(i, e) {
                $("input[id$=hidden]", e).attr('checked', hide);
            });
            markHidden();
			unsaved_changes = true;
        }

        $("#show-button").click(function(e) { showHide(false); e.preventDefault(); });
        $("#hide-button").click(function(e) { showHide(true); e.preventDefault(); });

		$("#lighttable-annotation textarea").change(function() {
			unsaved_changes = true;
		})

        var last_selected;

        function selectionChanged() {
            selected = $("#lighttable div.slide.selected");
            $("#lighttable-buttons button").attr('disabled', selected.length == 0);
            if (last_selected) {
                $("textarea", last_selected).val($("#lighttable-annotation textarea").val());
            }
            if (selected.length == 1) {
                last_selected = selected;
                $("#lighttable-annotation textarea").val($("textarea", last_selected).val()).attr('disabled', false);
                $("#customize-link").empty().append($("a.customize", last_selected).clone().show());
            } else {
                last_selected = null;
                $("#lighttable-annotation textarea").val('').attr('disabled', true);
                 $("#customize-link").empty();
            }
        }

        $("#items-form").submit(function() {
			selectionChanged();
			unsaved_changes = false;
		});

        var firstselection;

        function select_slide(e) {
            $("#lighttable div.slide").removeClass('selected');
            var self = $(this);
            if (!e.shiftKey || !firstselection) {
                firstselection = self;
            } else if (firstselection.attr('id') != self.attr('id')) {
                var id = "[id=" + firstselection.attr("id") + "]";
                (self.nextAll(id).length ? self.nextUntil(id) : self.prevUntil(id)).add(firstselection).addClass('selected');
            }
            self.addClass('selected');
            selectionChanged();
            e.stopPropagation();
        }

        var selected_elements;

        $("#lighttable div.slide").disableSelection().live('click', select_slide).css('cursor', 'move');
        $("#lighttable").append(
            "<br style='clear: both;'>"
        ).click(function(e) {
            if (!e.shiftKey) {
                $("#lighttable div.slide").removeClass('selected');
                firstselection = null;
                selectionChanged();
            }
        }).sortable({
            containment: '#lighttable',
            tolerance: 'pointer',
            placeholder: 'lighttable-placeholder',
            delay: 50,
            distance: 5,
            update: function(event, ui) {
                var before = true;
                var insert_after = ui.item;
                var id = ui.item.attr('id');
                selected_elements.each(function(i, e) {
                    if ($(e).attr('id') == id) before = false;
                    else if (before) ui.item.before(e);
                    else {
                        insert_after.after(e);
                        insert_after = $(e);
                    }
                });
                $(".orderinput input").each(function(i, e) { $(e).val(i); });
                ui.item.unbind('click').one("click", function (e) {
                    e.stopImmediatePropagation(); $(this).click(select_slide);
                });
				unsaved_changes = true;
            },
            start: function(event, ui) {
                $("#lighttable .record-anchor[id*=record-id-]").qtip('hide');
                if (!ui.item.hasClass('selected')) {
                    $("#lighttable div.slide").removeClass('selected');
                    ui.item.addClass('selected');
                    ui.helper.addClass('selected');
                    firstselection = ui.item;
                }
                selected_elements = $("#lighttable div.slide.selected");
                selected_elements.not(ui.item).hide(100);
            },
            stop: function(event, ui) {
                selected_elements.not(ui.item).show(100);
            }
            }).show();

        $(window).resize(function() { $("#lighttable").css('max-height', Math.max(250, $(window).height() - 200)); }).resize();

        $("#lighttable-annotation").show().children().attr('disabled', true);

        if (window.location.hash && window.location.hash.match(/^#s/)) {
            $("#lighttable div.slide").has("input[id$=-id][value=" + window.location.hash.substring(2) + "]").addClass('selected');
            selectionChanged();
        }
    });
</script>
{% endblock %}



{% block content %}

<h1>{{ presentation.title }}</h1>

<form action="{% url presentation-edit presentation.id, presentation.name %}" method="POST">{% csrf_token %}

<div class="vertical" style="">

<div style="float: left; clear: left;">
{{ form.title.label_tag }}
{{ form.title }}
{{ form.title.errors }}

{{ form.description.label_tag }}
{{ form.description }}
{{ form.description.errors }}

{{ form.password.label_tag }}
{{ form.password }}
{{ form.password.errors }}

{{ form.fieldset.label_tag }}
{{ form.fieldset }}
{{ form.fieldset.errors }}

{% if perms.presentation.publish_presentations %}
{{ form.hidden.label_tag }}
{{ form.hidden }}
{{ form.hidden.errors }}
{% endif %}

{{ form.hide_default_data.label_tag }}
{{ form.hide_default_data }}
{{ form.hide_default_data.errors }}

</div>

<div style="float: left; margin-left: 20px;">

    Tags:
{% with usertags as actionbar_tags %}
{% include 'ui_tag_editor.html' %}
{% endwith %}

</div>

<div class="row">
<input type="submit" name="update-properties" value="Update" />
<a href="{% url presentation-manage %}">Cancel</a>
</div>

</div>

</form>


{% if formset.forms %}

<h2 style="clear: both; padding-top: 50px;">Sort and annotate records</h2>


<form method="POST" action="" id="items-form">{% csrf_token %}
{{ formset.management_form }}

<ul class="actionbar">
<li><input type="submit" name="update-items" value="Save" /></li>
<li><a href=".">Discard changes</a></li>
<li class="secondary">Highlighted Items:</li>
<li class="secondary"><button id="show-button">Show</button></li>
<li class="secondary"><button id="hide-button">Hide</button></li>
<li class="secondary"><button id="duplicate-button">Duplicate</button></li>
<li class="secondary"><button id="delete-button">Delete</button></li>
<li class="secondary"><button id="select-button">Add to Selected Items</button></li>
</ul>


<div id="lighttable" style="display: none; clear: both;"></div>
<div id="lighttable-annotation" style="display: none;">
    Annotation: <textarea name="annotation"></textarea>
    <span id="customize-link"></span>
</div>

<table id="items" summary="Included records" class="list">
    <thead>
    <tr>
        <th></th>
        <th>Title</th>
        <th><span class="orderinput">Order</span></th>
        <th>Annotation</th>
        <th>Hidden</th>
        <th>Remove</th>
    </tr>
    </thead>
    <tbody>
{% for form in formset.forms %}
    <tr class="sortable{% cycle "" " altrow" %} framed-thumbnails small middle-align">
        <td class="thumbnail-col">{{ form.id }}{{ form.record }}<a name="s{{ form.instance.id }}" href="{{ form.instance.record.get_absolute_url }}"><img src="{{ form.instance.record.get_thumbnail_url }}?square" alt="{{ form.instance.record.title }}" class="record-anchor" id="item-{{ forloop.counter }}-record-id-{{ form.instance.record.id }}" /></a></td>
        <td class="title-col"><a href="{% url data-record form.instance.record.id, form.instance.record.name %}" target="record_view">{{ form.instance.record.title }}</a></td>
        <td class="order-col"><span class="orderinput">{{ form.order }} {{ form.order.errors }}</span></td>
        <td class="annotation-col">{{ form.annotation }}<br />
            <a class="customize" href="{% url data-record-edit-context form.instance.record.id, form.instance.record.name, contenttype, presentation.id, presentation.name %}?next={{ request.get_full_path|urlencode }}%23s{{ form.instance.id }}">Customize record for this presentation</a></td>
        <td class="controls">{{ form.hidden }}</td>
        <td class="controls delete">{{ form.DELETE }}</td>
    </tr>
{% endfor %}
    </tbody>
</table>

</form>

{% endif %}

{% endblock %}




{% block sidebar %}

{% var as related_pages %}
{"pages": [
    {"url": "{% url presentation-manage %}", "title": "Presentations"}
]}
{% endvar %}

{{ block.super }}

  <div class="facet active-facet" id="presentation_sidebar_actions">
    <div class="facet-header">Actions</div>
    <div class="facet-body">
        {% list_viewers presentation request.get_full_path "<br />" %}
        <br />
        <br />
        <form action="{% url presentation-edit presentation.id, presentation.name %}" method="POST">{% csrf_token %}
        <input type="submit" name="add-selected-items" value="Add selected items" />
        </form>
    </div>
  </div>


  <div class="facet active-facet" id="presentation_sidebar_permissions">
    <div class="facet-header">Permissions <a href="{% permissions_modify_url presentation %}"><img src="{% url static 'images/edit.png' %}" class="facet-button" /></a></div>
    <div class="facet-body">
        {% permissions_display presentation %}
    </div>
  </div>

  <div class="facet active-facet" id="presentation_sidebar_effective_permissions">
    <div class="facet-header">Effective Permissions</div>
    <div class="facet-body">
        {% effective_permissions_form presentation %}
    </div>
  </div>

{% endblock %}
