{% extends "master.html" %}
{% load ui %}
{% load humanize %}
{% load pagination_tags %}
{% load viewers %}


{% block raw-content %}
<form action="{{ request.get_full_url }}" method="POST">
{{ block.super }}
</form>
{% endblock %}


{% block sidebar %}
{{ block.super }}

  <div class="facet active-facet">
    <div class="facet-header">Update Tags</div>
    <div class="facet-body">Add or remove tags on selected presentations<br />
        {{ form.tags.label_tag }}
        {{ form.tags }}
        {{ form.tags.errors }}
        
        {{ form.mode.label_tag }}
        {{ form.mode }}
        {{ form.mode.errors }}
        <input type="submit" value="Update" name="update_tags" />
    </div>
  </div>
    
  <div class="facet active-facet">
    <div class="facet-header">Keywords</div>
    <div class="facet-body">
        <input type="text" id="keywords" name="kw" value="{{ keywords }}"/><input type="image" class="image" src="{% url static 'images/med_go_button.png' %}" value="Go" name="keywords_go" />
    </div>
  </div>

{% var as refine %}
{ "url": "{% url presentation-browse %}?{% if active_presenter %}presenter={{ active_presenter|urlencode }}&{% endif %}kw={{ keywords|urlencode }}&{% for t in active_tags %}t={{ t|urlencode }}&{% endfor %}" }
{% endvar %}
  
{% if active_presenter %}
  <div class="facet active-facet">
    <div class="facet-header"><a href="{% url presentation-browse %}?kw={{ keywords|urlencode }}&amp;t={{ active_tags|join:"||"|urlencode }}" title="Remove this criteria"><img src="{% url static 'images/facet_close.png' %}" alt="Remove" title="Remove" /></a>Presenter</div>
    <div class="facet-body">{% if active_presenter.last_name %}{{ active_presenter.last_name }}, {{ active_presenter.first_name }}{% else %}{{ active_presenter.username }}{% endif %}</div>
  </div>
{% endif %}

{% for tag in active_tags %}
  <div class="facet active-facet">
    <div class="facet-header"><a href="{{ refine.url }}rt={{ tag|urlencode }}"  title="Remove this criteria"><img src="{% url static 'images/facet_close.png' %}" alt="Remove" title="Remove" /></a>Tag</div>
    <div class="facet-body">{{ tag }}</div>
  </div>
{% endfor %}

{% if presenters %}
  <div class="facet">
    <div class="facet-header">Presenters</div>
    <div class="facet-body">
    {% for presenter in presenters %}
        <div class="facet-line">            
            <a href="{{ refine.url }}presenter={{ presenter.username|urlencode }}">{% if presenter.last_name %}{{ presenter.last_name }}, {{ presenter.first_name }}{% else %}{{ presenter.username }}{% endif %}</a>
            &nbsp;<span class="facet-freq">{{ presenter.presentations|intcomma  }}</span>
        </div>
    {% endfor %}
    <a class="facet-more" style="display: none;" href="#presenters">more...</a>
    </div>
  </div>
{% endif %}

{% if tags %}
  <div class="facet">
    <div class="facet-header">Tags</div>
    <div class="facet-body">
    {% for tag in tags %}
        <div class="facet-line">            
            <a href="{{ refine.url }}t={{ tag|urlencode }}">{{ tag }}</a>
            {% if tag.count %}&nbsp;<span class="facet-freq">{{ tag.count|intcomma  }}</span>{% endif %}
        </div>
    {% endfor %}
    <a class="facet-more" style="display: none;" href="#tags">more...</a>
    </div>
  </div>
{% endif %}

{% if usertags %}
  <div class="facet">
    <div class="facet-header">Your Tags</div>
    <div class="facet-body">
    {% for tag in usertags %}
        <div class="facet-line">            
            <a href="{{ refine.url }}t={{ tag|urlencode }}">{{ tag }}</a>
            {% if tag.count %}&nbsp;<span class="facet-freq">{{ tag.count|intcomma  }}</span>{% endif %}
        </div>
    {% endfor %}
    <a class="facet-more" style="display: none;" href="#tags">more...</a>
    </div>
  </div>
{% endif %}

<div style="text-align: center; margin-top: 20px;">
    <a href="{% url presentation-browse %}">Reset Search</a>
</div>

{% endblock %}


{% block content %}

{% autopaginate presentations 25 %}

<h1>Browse Presentations</h1>

{% paginate %}

{% if presentations %}

<table summary="List of Presentations" class="list">
    <tr>
        <th></th>
        <th>Title</th>
        <th>Presenter</th>
        <th>Tags</th>
        <th>Items</th>
        <th></th>
    </tr>
{% for presentation in presentations %}
    {% owned_tags_for_object presentation for request.user as ptags %}
    {% owned_tags_for_object presentation for presentation.owner as otags %}
    <tr class="{% cycle "" "altrow" %}">
        <td><input type="checkbox" name="h" value="{{ presentation.id }}" /></td>
        <td>{{ presentation.title }}</td>
        <td>{% if presentation.owner.last_name %}{{ presentation.owner.last_name }}, {{ presentation.owner.first_name }}{% else %}{{ presentation.owner.username }}{% endif %}</td>
        <td>{% for ptag in ptags %}
                {% tag ptag presentation "True" %}
            {% endfor %}
            {% for otag in otags %}
                {% tag otag presentation 0 'secondary' %}
            {% endfor %}
        </td>
        <td>{{ presentation.visible_item_count }}</td>
        <td>{% list_viewers presentation request.get_full_path %}</td>
    </tr>
{% endfor %}
</table>

{% paginate %}

{% else %}
No presentations available.
{% endif %}


{% endblock %}
