{% extends "master.html" %}
{% load ui %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">
        $(document).ready(function() {
            $("#dragdropnote").show();
            $(".orderinput").hide();
            $("#items tbody").sortable({
                axis: 'y',
                containment: '#items',
                update: function(event, ui) {
                    $("#items tbody tr:even").removeClass('altrow');
                    $("#items tbody tr:odd").addClass('altrow');
                    $(".orderinput input").each(function(i) { $(this).val(i); });
                },
                start: function(event, ui) {
                    $(".controls", ui.helper).hide();
                    ui.helper.removeClass('altrow');
                },
                stop: function(event, ui) {
                    $(".controls", ui.helper).show();
                }
                }).css('cursor', 'move');
            $(".delete input").click(function() {
                $(".thumbnail", $(this).parent().parent()).toggle();
            });
        });
</script>
{% endblock %}


{% block content %}

<h1>{{ presentation.title }}</h1>

<div id="dragdropnote" style="display: none;">Drag and drop thumbnails into desired order.</div>

<form method="POST" action="">
{{ formset.management_form }}
<table id="items" summary="Included records" class="list">
    <thead>
    <tr>
        <td colspan="4"></td>
        <td colspan="2"><input type="submit" value="Submit changes" /></td>
    </tr>
    <tr>
        <th></th>
        <th>Title</th>
        <th><span class="orderinput">Order</span></th>
        <th></th>
        <th>Hidden</th>
        <th>Remove</th>
    </tr>
    </thead>
    <tbody>
{% for form in formset.forms %}
    <tr class="sortable{% cycle "" " altrow" %} framed-thumbnails small middle-align">
        <td>{{ form.id }}<a name="s{{ form.instance.id }}" href="{{ form.instance.record.get_absolute_url }}"><img src="{{ form.instance.record.get_thumbnail_url }}?square" alt="{{ form.instance.record.title }}" /></a></td>
        <td>{{ form.instance.record.title }}</td>
        <td><span class="orderinput">{{ form.order }} {{ form.order.errors }}</span></td>
        <td><a href="{% url data-record-edit-context form.instance.record.id, form.instance.record.name, presentation_contenttype, presentation.id, presentation.name %}?next={{ request.get_full_path|urlencode }}%23s{{ form.instance.id }}">Annotate</a></td>
        <td class="controls">{{ form.hidden }}</td>
        <td class="controls delete">{{ form.DELETE }}</td>
    </tr>
{% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <td colspan="4"></td>
        <td colspan="2"><input type="submit" value="Submit changes" /></td>
    </tr>
    </tfoot>
</table>
</form>

{% endblock %}


{% block sidebar %}

{% var as related_pages %}
{"pages": [
{% if presentation.items.count %}
    {"url": "{% url presentation-edit presentation.id, presentation.name %}", "title": "Presentation properties"},
{% endif %}
    {"url": "{% url presentation-manage %}", "title": "Presentations"}
]}
{% endvar %}

{{ block.super }}

{% endblock %}