{% extends "master.html" %}
{% load ui %}
{% load humanize %}
{% load pagination_tags %}
{% load viewers %}

{% block content %}

{% autopaginate presentations 25 %}

<h1>My Presentations</h1>

<div class="tagcloud">
{% for tag in tags %}
    <span style="font-size: {{ tag.font_size|scale:"1 5 1 1.8" }}em;">
        [<a href="{% url presentation-manage %}?tag={{ tag|urlencode }}">{{ tag }}</a>]
    </span>
{% endfor %}
{% if tags %}
    [<a href="{% url presentation-manage %}">All</a>]
{% endif %}
</div>

<h2>Presentations{% if tag_filter %} filed under {{ tag_filter }}{% endif %}</h2>

<div>
    <a href="{% url presentation-create %}?next={% url presentation-manage %}">Create new presentation</a>
</div>

{% paginate %}

<form action="{% url presentation-manage %}?{{ querystring }}" method="POST" class="vertical">
<table summary="List of Presentations">
    <tr>
        <th></th>
        <th>Title</th>
        <th>Tags</th>
        <th>Items</th>
        <th>Hidden</th>
        <th>Created</th>
        <th>Modified</th>
        <th></th>
    </tr>
{% for presentation in presentations %}
    {% owned_tags_for_object presentation for request.user as ptags %}
    <tr class="{% cycle "" "altrow" %}">
        <td><input type="checkbox" name="h" value="{{ presentation.id }}" /></td>
        <td><a href="{% url presentation-edit presentation.id, presentation.name %}">{{ presentation.title }}</a></td>
        <td>{% for ptag in  ptags %}
                <span class="tag">{{ ptag.name }} <a class="removetag" href="">X</a></span>
            {% endfor %}
        </td>
        <td>{{ presentation.item_count }}</td>
        <td>{{ presentation.hidden|yesno:"hidden," }}</td>
        <td>{{ presentation.created|naturalday:"M j, Y" }}</td>
        <td>{{ presentation.modified|naturalday:"M j, Y" }}</td>
        <td>{% list_viewers presentation %}</td>
    </tr>
{% empty %}
    <tr>
        <td colspan="7">
            No presentations available.
            <a href="{% url presentation-create %}?next={% url presentation-manage %}">Create new presentation</a>
        </td>
    </tr>
{% endfor %}
</table>

<label>With selected</label>
<input type="submit" name="hide" value="Hide" />
<input type="submit" name="unhide" value="Show" />

{{ form.tags.label_tag }}
{{ form.tags }}
{{ form.tags.errors }}

{{ form.mode.label_tag }}
{{ form.mode }}
{{ form.mode.errors }}

<div class="row">
    <input type="submit" value="Update" />
</div>

</form>    
    


{% endblock %}